data/lib/flows/Analytics/Chatbase.json
[
  {
    "id": "cdc5932a.2e8de",
    "type": "function",
    "z": "6b1f4881.63b528",
    "name": "Function",
    "func": "msg.headers = {\n    'cache-control': 'no-cache',\n    'content-type': 'application/json'\n}\nmsg.payload={\n    \n           \"api_key\": \"api_key\",\n           \"type\": \"user\",\n           \"platform\": \"tekos1\",\n           \"message\": msg.payload.text[0],\n           \"user_id\": \"001\"\n         \n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 386.262996673584,
    "y": 235.0000114440918,
    "wires": [
      [
        "f9a7011c.bc056"
      ]
    ]
  },
  {
    "id": "4c0c304e.0854e",
    "type": "link in",
    "z": "6b1f4881.63b528",
    "name": "",
    "links": [
      "4c5f8e24.eeb9c"
    ],
    "x": 247.51299667358398,
    "y": 234.9999942779541,
    "wires": [
      [
        "cdc5932a.2e8de"
      ]
    ]
  },
  {
    "id": "f008627.72818a",
    "type": "comment",
    "z": "6b1f4881.63b528",
    "name": "Chatbase: Wirer This to Hanna In",
    "info": "",
    "x": 397.51300048828125,
    "y": 148.7500057220459,
    "wires": []
  },
  {
    "id": "f9a7011c.bc056",
    "type": "tekos-chatbase",
    "z": "6b1f4881.63b528",
    "name": "",
    "config": "bb895caf.95458",
    "user": "user",
    "platform": "",
    "platformType": "str",
    "chatbaseType": "generic",
    "chatbaseIntent": "",
    "chatbaseIntentType": "str",
    "chatbaseSender": "user",
    "properties": [],
    "message": "",
    "messageType": "msg",
    "notHandled": false,
    "x": 570.2343864440918,
    "y": 234.14935302734375,
    "wires": [
      [
        "e66aac4e.19e06"
      ]
    ]
  },
  {
    "id": "e66aac4e.19e06",
    "type": "debug",
    "z": "6b1f4881.63b528",
    "name": "Chatbase",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "x": 763.7629814147949,
    "y": 235.01301383972168,
    "wires": []
  },
  {
    "id": "bb895caf.95458",
    "type": "tekos-chatbase-config",
    "z": "",
    "name": "",
    "version": "1.0"
  }
]