data/lib/flows/Analytics/Dashbot.json
[
  {
    "id": "d679f786.d16ab8",
    "type": "http request",
    "z": "6b1f4881.63b528",
    "name": "",
    "method": "POST",
    "ret": "txt",
    "url": "https://tracker.dashbot.io/track?platform=universal&v=10.1.1-rest&type=incoming&apiKey=api_Key",
    "tls": "",
    "x": 510.01300048828125,
    "y": 540.0000152587891,
    "wires": [
      [
        "9a4b9127.2cf38"
      ]
    ]
  },
  {
    "id": "1617d2de.05663d",
    "type": "function",
    "z": "6b1f4881.63b528",
    "name": "Config",
    "func": "flow.set('uid'+msg.uid, msg.uid)\nmsg.headers = {\n    'content-type': 'application/json'\n}\nmsg.payload={\n        \"text\":msg.payload.text[0],\n        \"userId\":msg.uid\n}\nreturn msg;\n",
    "outputs": 1,
    "noerr": 0,
    "x": 328.7629928588867,
    "y": 540.0000495910645,
    "wires": [
      [
        "d679f786.d16ab8"
      ]
    ]
  },
  {
    "id": "c7402913.9b25e8",
    "type": "link in",
    "z": "6b1f4881.63b528",
    "name": "",
    "links": [
      "4c5f8e24.eeb9c"
    ],
    "x": 210.01300048828125,
    "y": 540.0000152587891,
    "wires": [
      [
        "1617d2de.05663d"
      ]
    ]
  },
  {
    "id": "dc9164e.923a398",
    "type": "comment",
    "z": "6b1f4881.63b528",
    "name": "Wirer This to Hanna In",
    "info": "",
    "x": 322.5129852294922,
    "y": 456.2500171661377,
    "wires": []
  },
  {
    "id": "9a4b9127.2cf38",
    "type": "debug",
    "z": "6b1f4881.63b528",
    "name": "Dashbot",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "x": 690.0130004882812,
    "y": 540.0000152587891,
    "wires": []
  }
]