data/lib/flows/Handover/Slack.json
[
  {
    "id": "4ec4d9be.05cd58",
    "type": "function",
    "z": "1ce9a7fd.e28328",
    "name": "Set Context",
    "func": "flow.set(\"uid\", msg.payload.uid)\nflow.set(\"channel_name\", msg.payload.uid.substring(0,20))\nflow.set(\"user_msg\", msg.payload.text[0])\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 384.01040840148926,
    "y": 239.25005912780762,
    "wires": [
      []
    ]
  },
  {
    "id": "83bf8035.7fbe7",
    "type": "DS Message receive",
    "z": "1ce9a7fd.e28328",
    "name": "",
    "msApp": "cac487df.d3c3b8",
    "method": "chat/message",
    "x": 145.25563049316406,
    "y": 157.24529457092285,
    "wires": [
      [
        "2f58a1f5.30dbee",
        "2133afef.bd11a",
        "4ec4d9be.05cd58"
      ]
    ]
  },
  {
    "id": "fb0d568c.2c2448",
    "type": "DS Message send",
    "z": "1ce9a7fd.e28328",
    "msApp": "cac487df.d3c3b8",
    "name": "Hanna Out",
    "nextListener": "chat/message",
    "nextUri": "",
    "nextAppName": "",
    "x": 1655.0054168701172,
    "y": 128.74529266357422,
    "wires": []
  },
  {
    "id": "7d51c1f7.0696b",
    "type": "function",
    "z": "1ce9a7fd.e28328",
    "name": "Headers",
    "func": "msg.headers = {\n    'Authorization': \"Bearer \"\n}\n\nmsg.payload = {\n    \"text\":flow.get(\"user_msg\"),\n    \"channel\":flow.get(\"channel_name\"),\n    \"as_user\": \"false\",\n    \"username\":\"Visitor\",\n}\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 1292.7555046081543,
    "y": 701.2454791069031,
    "wires": [
      [
        "2a293cb4.f15094"
      ]
    ]
  },
  {
    "id": "2a293cb4.f15094",
    "type": "http request",
    "z": "1ce9a7fd.e28328",
    "name": "Chat Post Message",
    "method": "POST",
    "ret": "obj",
    "url": "https://slack.com/api/chat.postMessage",
    "tls": "",
    "x": 1485.755615234375,
    "y": 701.4956064224243,
    "wires": [
      []
    ]
  },
  {
    "id": "5f8355ea.68abdc",
    "type": "http in",
    "z": "1ce9a7fd.e28328",
    "name": "Post",
    "url": "/webhook",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 204.2555389404297,
    "y": 1287.489914894104,
    "wires": [
      [
        "c359564f.5cb098",
        "56aed3c0.c3aeec"
      ]
    ]
  },
  {
    "id": "4a8cb64f.4cf9e8",
    "type": "comment",
    "z": "1ce9a7fd.e28328",
    "name": "Recieve Message From Slack - Webhook",
    "info": "",
    "x": 344.7555694580078,
    "y": 1124.9895753860474,
    "wires": []
  },
  {
    "id": "c359564f.5cb098",
    "type": "http response",
    "z": "1ce9a7fd.e28328",
    "name": "HTTP",
    "statusCode": "",
    "headers": {},
    "x": 334.25551986694336,
    "y": 1226.4897994995117,
    "wires": []
  },
  {
    "id": "cbdde2ac.5c3ad",
    "type": "chatbot-message",
    "z": "1ce9a7fd.e28328",
    "name": "",
    "message": [
      {
        "message": "Welcome, i'll direct all your message to slack"
      }
    ],
    "x": 280.4999008178711,
    "y": 391.95830154418945,
    "wires": [
      [
        "5ab6c343.a4367c"
      ]
    ]
  },
  {
    "id": "2f58a1f5.30dbee",
    "type": "switch",
    "z": "1ce9a7fd.e28328",
    "name": "Rooter",
    "property": "payload.text[0]",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "start",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "handover",
        "vt": "str"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 3,
    "x": 361.5055923461914,
    "y": 157.24529457092285,
    "wires": [
      [
        "93607f62.65387"
      ],
      [
        "f82e04c6.f90e78"
      ],
      [
        "357eb42d.97d8fc"
      ]
    ]
  },
  {
    "id": "93607f62.65387",
    "type": "link out",
    "z": "1ce9a7fd.e28328",
    "name": "st",
    "links": [
      "649fda02.1ea7f4"
    ],
    "x": 518.7499370574951,
    "y": 111.03790760040283,
    "wires": []
  },
  {
    "id": "649fda02.1ea7f4",
    "type": "link in",
    "z": "1ce9a7fd.e28328",
    "name": "",
    "links": [
      "93607f62.65387"
    ],
    "x": 174.50280380249023,
    "y": 390.8304786682129,
    "wires": [
      [
        "cbdde2ac.5c3ad"
      ]
    ]
  },
  {
    "id": "6292c6d9.ba8568",
    "type": "link in",
    "z": "1ce9a7fd.e28328",
    "name": "outt",
    "links": [
      "5ab6c343.a4367c",
      "d0626170.d6f31",
      "4438ef4e.0a458",
      "299610f4.ab87c"
    ],
    "x": 940.7559175491333,
    "y": 166.0805149078369,
    "wires": [
      [
        "239bb83e.6a5f48",
        "1ed2c75b.9a2dd9"
      ]
    ]
  },
  {
    "id": "5ab6c343.a4367c",
    "type": "link out",
    "z": "1ce9a7fd.e28328",
    "name": "",
    "links": [
      "6292c6d9.ba8568"
    ],
    "x": 395.5113334655762,
    "y": 391.7821846008301,
    "wires": []
  },
  {
    "id": "747a34e5.e9134c",
    "type": "comment",
    "z": "1ce9a7fd.e28328",
    "name": "https://api.slack.com/methods/chat.postMessage",
    "info": "https://api.slack.com/methods/chat.postMessage/test",
    "x": 384.01124572753906,
    "y": 1179.3078145980835,
    "wires": []
  },
  {
    "id": "2133afef.bd11a",
    "type": "link out",
    "z": "1ce9a7fd.e28328",
    "name": "hand",
    "links": [
      "a76b7c8c.b122a"
    ],
    "x": 328.50876808166504,
    "y": 97.79076480865479,
    "wires": []
  },
  {
    "id": "a76b7c8c.b122a",
    "type": "link in",
    "z": "1ce9a7fd.e28328",
    "name": "",
    "links": [
      "2133afef.bd11a"
    ],
    "x": 175.255633354187,
    "y": 515.5749130249023,
    "wires": [
      [
        "f5a84167.a9cf4"
      ]
    ]
  },
  {
    "id": "43a91679.fdb488",
    "type": "comment",
    "z": "1ce9a7fd.e28328",
    "name": "User Messages : Sent To Slack",
    "info": "",
    "x": 1330.7558135986328,
    "y": 650.6091117858887,
    "wires": []
  },
  {
    "id": "676ec391.a97e9c",
    "type": "link out",
    "z": "1ce9a7fd.e28328",
    "name": "",
    "links": [
      "9b0d4566.cd3da8"
    ],
    "x": 949.2556581497192,
    "y": 1336.22287940979,
    "wires": []
  },
  {
    "id": "f3b93c60.27fc1",
    "type": "function",
    "z": "1ce9a7fd.e28328",
    "name": "Message Back",
    "func": "let messages = []\nfor (var i = 0; i < 1; i++) {\n    messages.push({\n        type: \"message\",\n        content: msg.payload.event.text\n    })\n}\nmsg.payload = messages\nmsg.uid=\"15437007527274rcvkkl56ft\"\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 506.4941101074219,
    "y": 1281.1034088134766,
    "wires": [
      [
        "79d08b91.0381a4"
      ]
    ]
  },
  {
    "id": "10f560e8.b59dff",
    "type": "split",
    "z": "1ce9a7fd.e28328",
    "name": "Split",
    "splt": "\\n",
    "spltType": "str",
    "arraySplt": 1,
    "arraySpltType": "len",
    "stream": false,
    "addname": "",
    "x": 793.4941291809082,
    "y": 1281.6033282279968,
    "wires": [
      [
        "676ec391.a97e9c",
        "d13fd59.7ff6028",
        "e4f0bf35.f9f51"
      ]
    ]
  },
  {
    "id": "56aed3c0.c3aeec",
    "type": "switch",
    "z": "1ce9a7fd.e28328",
    "name": "Switch",
    "property": "payload.event.subtype",
    "propertyType": "msg",
    "rules": [
      {
        "t": "neq",
        "v": "bot_message",
        "vt": "str"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 341.75269317626953,
    "y": 1287.5294609069824,
    "wires": [
      [
        "f3b93c60.27fc1"
      ],
      []
    ]
  },
  {
    "id": "39d0d05d.8362e",
    "type": "function",
    "z": "1ce9a7fd.e28328",
    "name": "Headers",
    "func": "msg.headers = {\n\n}\n\nmsg.payload = {\n    \"attachments\": [\n        {\n            \"fallback\": \"ReferenceError - UI is not defined: https://honeybadger.io/path/to/event/\",\n            \"text\": \"A user has started a conversation, start a Thread to respond\",\n            \"title\": \"New Handover Request\",\n            \"title_link\": \"https://slack.com/app_redirect?channel=\"+flow.get(\"channel_id\"),\n             \"callback_id\": \"bot_control\",\n            \"fields\": [\n                {\n                    \"title\": \"App\",\n                    \"value\": \"Awesome App\",\n                    \"short\": true\n                },\n                {\n                    \"title\": \"User\",\n                    \"value\": flow.set(\"user\"),\n                    \"short\": true\n                }\n            ],\n            \"color\": \"#F35A00\",\n                        \"actions\": [\n                {\n                    \"name\": \"pausebot\",\n                    \"text\": \"Pause Bot\",\n                    \"style\": \"danger\",\n                    \"type\": \"button\",\n                    \"value\": \"pause\"\n                }  \n            ]\n        }\n    ]\n}\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 487.2605438232422,
    "y": 709.250244140625,
    "wires": [
      [
        "49da66d0.62cbb8"
      ]
    ]
  },
  {
    "id": "49da66d0.62cbb8",
    "type": "http request",
    "z": "1ce9a7fd.e28328",
    "name": "Services",
    "method": "POST",
    "ret": "obj",
    "url": "https://hooks.slack.com/services/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",
    "tls": "",
    "x": 660.7605819702148,
    "y": 709.250244140625,
    "wires": [
      []
    ]
  },
  {
    "id": "4bee8c74.e032b4",
    "type": "http in",
    "z": "1ce9a7fd.e28328",
    "name": "Pause",
    "url": "/pause",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 205.26045989990234,
    "y": 906.6945838928223,
    "wires": [
      [
        "2efa785c.ad02b8"
      ]
    ]
  },
  {
    "id": "7de756d1.966f38",
    "type": "http response",
    "z": "1ce9a7fd.e28328",
    "name": "HTTP",
    "statusCode": "",
    "headers": {},
    "x": 915.2606468200684,
    "y": 955.4447765350342,
    "wires": []
  },
  {
    "id": "980ac93f.5e1498",
    "type": "function",
    "z": "1ce9a7fd.e28328",
    "name": "Headers",
    "func": "msg.headers = {\n\n}\n\nmsg.payload = {\n    \"attachments\": [\n        {\n            \"fallback\": \"ReferenceError - UI is not defined: https://honeybadger.io/path/to/event/\",\n            \"text\": \"A user has started a conversation, start a Thread to respond\",\n             \"callback_id\": \"bot_control\",\n            \"fields\": [\n                {\n                    \"title\": \"App\",\n                    \"value\": \"Awesome App\",\n                    \"short\": true\n                },\n                {\n                    \"title\": \"Message\",\n                    \"value\": \"user_message\",\n                    \"short\": true\n                }\n            ],\n            \"color\": \"#F35A00\",\n                        \"actions\": [\n                {\n                    \"name\": \"activatebot\",\n                    \"text\": \"Activate Bot\",\n                    \"style\": \"primary\",\n                    \"type\": \"button\",\n                    \"value\": \"unpause\"\n                }  //              ,\n//                {\n //                   \"name\": \"activate_bot\",\n  //                  \"text\": \"Activate Bot\",\n    //                \"type\": \"button\",\n      //              \"value\": \"unpause\"\n    //            }\n            ]\n        }\n    ]\n}\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 719.2607421875,
    "y": 955.1946697235107,
    "wires": [
      [
        "7de756d1.966f38"
      ]
    ]
  },
  {
    "id": "e89e742e.646a78",
    "type": "http response",
    "z": "1ce9a7fd.e28328",
    "name": "HTTP",
    "statusCode": "",
    "headers": {},
    "x": 911.7606887817383,
    "y": 896.2502346038818,
    "wires": []
  },
  {
    "id": "b65ccad9.22d508",
    "type": "function",
    "z": "1ce9a7fd.e28328",
    "name": "Headers",
    "func": "msg.headers = {\n\n}\n\nmsg.payload = {\n    \"attachments\": [\n        {\n            \"fallback\": \"ReferenceError - UI is not defined: https://honeybadger.io/path/to/event/\",\n            \"text\": \"A user has started a conversation, start a Thread to respond\",\n             \"callback_id\": \"bot_control\",\n            \"fields\": [\n                {\n                    \"title\": \"App\",\n                    \"value\": \"Awesome App\",\n                    \"short\": true\n                },\n                {\n                    \"title\": \"Message\",\n                    \"value\": \"user_message\",\n                    \"short\": true\n                }\n            ],\n            \"color\": \"#F35A00\",\n                        \"actions\": [\n                {\n                    \"name\": \"pausebot\",\n                    \"text\": \"Pause Bot\",\n                    \"style\": \"danger\",\n                    \"type\": \"button\",\n                    \"value\": \"pause\"\n                }  //              ,\n//                {\n //                   \"name\": \"activate_bot\",\n  //                  \"text\": \"Activate Bot\",\n    //                \"type\": \"button\",\n      //              \"value\": \"unpause\"\n    //            }\n            ]\n        }\n    ]\n}\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 715.7604446411133,
    "y": 895.0000982284546,
    "wires": [
      [
        "e89e742e.646a78"
      ]
    ]
  },
  {
    "id": "9aa14da2.52c9b",
    "type": "comment",
    "z": "1ce9a7fd.e28328",
    "name": "Bot Paused",
    "info": "",
    "x": 1068.0105667114258,
    "y": 957.7885265350342,
    "wires": []
  },
  {
    "id": "fe601849.3f8f18",
    "type": "comment",
    "z": "1ce9a7fd.e28328",
    "name": "Bot Active",
    "info": "",
    "x": 1065.760540008545,
    "y": 893.7500991821289,
    "wires": []
  },
  {
    "id": "2efa785c.ad02b8",
    "type": "json",
    "z": "1ce9a7fd.e28328",
    "name": "JSON",
    "property": "payload.payload",
    "action": "obj",
    "pretty": false,
    "x": 360.7604637145996,
    "y": 907.5104885101318,
    "wires": [
      [
        "51019aca.3c3c74"
      ]
    ]
  },
  {
    "id": "51019aca.3c3c74",
    "type": "switch",
    "z": "1ce9a7fd.e28328",
    "name": "Swtich",
    "property": "payload.payload.actions[0].name",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "activatebot",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "pausebot",
        "vt": "str"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 3,
    "x": 523.2673950195312,
    "y": 907.506947517395,
    "wires": [
      [
        "b65ccad9.22d508",
        "55633ca2.4aa1b4"
      ],
      [
        "980ac93f.5e1498",
        "92b27b4b.6b4888"
      ],
      []
    ]
  },
  {
    "id": "6f395bac.eb20a4",
    "type": "comment",
    "z": "1ce9a7fd.e28328",
    "name": "Switch Buttons",
    "info": "",
    "x": 242.01043701171875,
    "y": 848.5555782318115,
    "wires": []
  },
  {
    "id": "ee177824.8de1e8",
    "type": "comment",
    "z": "1ce9a7fd.e28328",
    "name": "Handover Request",
    "info": "",
    "x": 254.26729202270508,
    "y": 647.2881708145142,
    "wires": []
  },
  {
    "id": "f82e04c6.f90e78",
    "type": "link out",
    "z": "1ce9a7fd.e28328",
    "name": "st",
    "links": [
      "41923769.715638"
    ],
    "x": 522.247148513794,
    "y": 156.50003814697266,
    "wires": []
  },
  {
    "id": "41923769.715638",
    "type": "link in",
    "z": "1ce9a7fd.e28328",
    "name": "",
    "links": [
      "f82e04c6.f90e78"
    ],
    "x": 169.74994659423828,
    "y": 708.042558670044,
    "wires": [
      [
        "5e6e40dc.51f66"
      ]
    ]
  },
  {
    "id": "357eb42d.97d8fc",
    "type": "chatbot-message",
    "z": "1ce9a7fd.e28328",
    "name": "Discussion",
    "message": [
      {
        "message": "This is a normal discussion .."
      }
    ],
    "x": 550.5103225708008,
    "y": 201.7500400543213,
    "wires": [
      [
        "299610f4.ab87c"
      ]
    ]
  },
  {
    "id": "5e6e40dc.51f66",
    "type": "chatbot-message",
    "z": "1ce9a7fd.e28328",
    "name": "Handover",
    "message": [
      {
        "message": "You have requested a Human, I'll notify my collecgue of your request. I'll handle the conversation until then"
      }
    ],
    "x": 287.76032638549805,
    "y": 708.4999685287476,
    "wires": [
      [
        "4438ef4e.0a458",
        "39d0d05d.8362e"
      ]
    ]
  },
  {
    "id": "4438ef4e.0a458",
    "type": "link out",
    "z": "1ce9a7fd.e28328",
    "name": "",
    "links": [
      "6292c6d9.ba8568"
    ],
    "x": 387.5103454589844,
    "y": 674.2500133514404,
    "wires": []
  },
  {
    "id": "fa71881e.4e8a58",
    "type": "comment",
    "z": "1ce9a7fd.e28328",
    "name": "Stores Conversation In The Channel #uid",
    "info": "",
    "x": 349.2709655761719,
    "y": 460.3057117462158,
    "wires": []
  },
  {
    "id": "299610f4.ab87c",
    "type": "link out",
    "z": "1ce9a7fd.e28328",
    "name": "",
    "links": [
      "6292c6d9.ba8568"
    ],
    "x": 688.0107421875,
    "y": 202.00008010864258,
    "wires": []
  },
  {
    "id": "36bb1f17.be738",
    "type": "comment",
    "z": "1ce9a7fd.e28328",
    "name": "-------------------- Takeover process-----------------",
    "info": "",
    "x": 415.01036834716797,
    "y": 785.208438873291,
    "wires": []
  },
  {
    "id": "da50955a.7fde58",
    "type": "function",
    "z": "1ce9a7fd.e28328",
    "name": "Headers",
    "func": "msg.headers = {\n    'Authorization': \"Bearer \",\n}\n\nmsg.payload = {\n    \"text\":msg.payload.content,\n    \"channel\":flow.get(\"channel_name\"),\n}\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 1219.510482788086,
    "y": 254.2501106262207,
    "wires": [
      [
        "5c4d6fc4.c3b0d"
      ]
    ]
  },
  {
    "id": "5c4d6fc4.c3b0d",
    "type": "http request",
    "z": "1ce9a7fd.e28328",
    "name": "Chat Post Message",
    "method": "POST",
    "ret": "obj",
    "url": "https://slack.com/api/chat.postMessage",
    "tls": "",
    "x": 1411.5104064941406,
    "y": 253.50014114379883,
    "wires": [
      []
    ]
  },
  {
    "id": "439ef7f9.e55dc8",
    "type": "comment",
    "z": "1ce9a7fd.e28328",
    "name": "Bot Answers: Sent to Slack",
    "info": "",
    "x": 1176.7605743408203,
    "y": 305.2500400543213,
    "wires": []
  },
  {
    "id": "9b0d4566.cd3da8",
    "type": "link in",
    "z": "1ce9a7fd.e28328",
    "name": "bot",
    "links": [
      "676ec391.a97e9c",
      "a1c4ad0b.eb42e",
      "70f83d16.bf6064"
    ],
    "x": 1537.510585784912,
    "y": 129.48961067199707,
    "wires": [
      [
        "fb0d568c.2c2448"
      ]
    ]
  },
  {
    "id": "ce613e8a.24fec",
    "type": "comment",
    "z": "1ce9a7fd.e28328",
    "name": "We May Send Bot Messages Only Or Actions",
    "info": "",
    "x": 1133.0103759765625,
    "y": 93.00003051757812,
    "wires": []
  },
  {
    "id": "da248bb4.205388",
    "type": "http request",
    "z": "1ce9a7fd.e28328",
    "name": "Channels Create",
    "method": "POST",
    "ret": "obj",
    "url": "https://slack.com/api/channels.create",
    "tls": "",
    "x": 1027.0106735229492,
    "y": 491.0000228881836,
    "wires": [
      [
        "eba25925.584248",
        "ba9ea5c.5a17a58",
        "8bbcb5fc.7dac58"
      ]
    ]
  },
  {
    "id": "20e5a6ae.3299ba",
    "type": "function",
    "z": "1ce9a7fd.e28328",
    "name": "Headers",
    "func": "msg.headers = {\n    'Authorization': \"Bearer \",\n}\n\nmsg.payload = {\n    \"name\":flow.get(\"channel_name\")\n\n}\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 854.0105056762695,
    "y": 491.0000228881836,
    "wires": [
      [
        "da248bb4.205388"
      ]
    ]
  },
  {
    "id": "eba25925.584248",
    "type": "switch",
    "z": "1ce9a7fd.e28328",
    "name": "Switch",
    "property": "payload.channel.id",
    "propertyType": "msg",
    "rules": [
      {
        "t": "nnull"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 1253.5211715698242,
    "y": 490.7813148498535,
    "wires": [
      [
        "feeb3aa2.fd1008"
      ],
      []
    ]
  },
  {
    "id": "bb3c005e.41461",
    "type": "http request",
    "z": "1ce9a7fd.e28328",
    "name": "Channels Leave",
    "method": "POST",
    "ret": "obj",
    "url": "https://slack.com/api/channels.leave",
    "tls": "",
    "x": 1588.0103950500488,
    "y": 484.0000705718994,
    "wires": [
      []
    ]
  },
  {
    "id": "feeb3aa2.fd1008",
    "type": "function",
    "z": "1ce9a7fd.e28328",
    "name": "Headers",
    "func": "msg.headers = {\n    'Authorization': \"Bearer \",\n}\n\nmsg.payload = {\n    \"channel\":msg.payload.channel.id,\n\n}\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 1411.7606582641602,
    "y": 485.0000629425049,
    "wires": [
      [
        "bb3c005e.41461"
      ]
    ]
  },
  {
    "id": "93be195e.08a788",
    "type": "comment",
    "z": "1ce9a7fd.e28328",
    "name": "Leave New Channel",
    "info": "",
    "x": 1485.260669708252,
    "y": 439.00007247924805,
    "wires": []
  },
  {
    "id": "d2447f77.85514",
    "type": "comment",
    "z": "1ce9a7fd.e28328",
    "name": "Create New Channel With Uid",
    "info": "",
    "x": 959.5105972290039,
    "y": 434.0000686645508,
    "wires": []
  },
  {
    "id": "71759a60.f37d14",
    "type": "switch",
    "z": "1ce9a7fd.e28328",
    "name": "New Uid & Channel?",
    "property": "payload.error",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "channel_not_found",
        "vt": "str"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 647.5175132751465,
    "y": 518.2882385253906,
    "wires": [
      [
        "20e5a6ae.3299ba"
      ],
      [
        "503982ac.349e1c"
      ]
    ]
  },
  {
    "id": "b62ea3a7.e331d",
    "type": "http request",
    "z": "1ce9a7fd.e28328",
    "name": "",
    "method": "GET",
    "ret": "obj",
    "url": "https://slack.com/api/channels.info",
    "tls": "",
    "x": 435.5103530883789,
    "y": 517.2500343322754,
    "wires": [
      [
        "71759a60.f37d14"
      ]
    ]
  },
  {
    "id": "f5a84167.a9cf4",
    "type": "function",
    "z": "1ce9a7fd.e28328",
    "name": "Headers",
    "func": "msg.headers = {\n    'Authorization': \"Bearer \",\n}\n\nmsg.payload = {\n    \"channel\":flow.get(\"channel_id\")\n}\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 276.51019287109375,
    "y": 516.2500743865967,
    "wires": [
      [
        "b62ea3a7.e331d"
      ]
    ]
  },
  {
    "id": "d7ff10db.b1b95",
    "type": "comment",
    "z": "1ce9a7fd.e28328",
    "name": "Need To Create A New User",
    "info": "",
    "x": 1322.5069046020508,
    "y": 750.5417656898499,
    "wires": []
  },
  {
    "id": "ba9ea5c.5a17a58",
    "type": "function",
    "z": "1ce9a7fd.e28328",
    "name": "Set Channel Id",
    "func": "flow.set(\"channel_id\", msg.payload.channel.id)\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 1272.0105247497559,
    "y": 442.5001678466797,
    "wires": [
      []
    ]
  },
  {
    "id": "92b27b4b.6b4888",
    "type": "function",
    "z": "1ce9a7fd.e28328",
    "name": "Handover Activated",
    "func": "flow.set(\"handover\", \"activated\")\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 769.5104522705078,
    "y": 1012.4723682403564,
    "wires": [
      []
    ]
  },
  {
    "id": "55633ca2.4aa1b4",
    "type": "function",
    "z": "1ce9a7fd.e28328",
    "name": "Handover Not Active",
    "func": "flow.set(\"handover\", \"not_activated\")\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 764.7606201171875,
    "y": 827.722466468811,
    "wires": [
      []
    ]
  },
  {
    "id": "239bb83e.6a5f48",
    "type": "switch",
    "z": "1ce9a7fd.e28328",
    "name": "Handover",
    "property": "handover",
    "propertyType": "flow",
    "rules": [
      {
        "t": "eq",
        "v": "not_activated",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "activated",
        "vt": "str"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 3,
    "x": 1073.0173797607422,
    "y": 167.0347671508789,
    "wires": [
      [
        "a1c4ad0b.eb42e"
      ],
      [],
      [
        "70f83d16.bf6064"
      ]
    ]
  },
  {
    "id": "1ed2c75b.9a2dd9",
    "type": "delay",
    "z": "1ce9a7fd.e28328",
    "name": "Delay 1s",
    "pauseType": "delay",
    "timeout": "1",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "x": 1061.0173873901367,
    "y": 254.0417194366455,
    "wires": [
      [
        "da50955a.7fde58"
      ]
    ]
  },
  {
    "id": "e6590ece.b81b",
    "type": "comment",
    "z": "1ce9a7fd.e28328",
    "name": "If No Handover Activity Of 5 Min, Set Handover Deactivated",
    "info": "",
    "x": 1066.5172271728516,
    "y": 1156.0419597625732,
    "wires": []
  },
  {
    "id": "a9dfdfc7.aa6b3",
    "type": "function",
    "z": "1ce9a7fd.e28328",
    "name": "Handover Not Active",
    "func": "flow.set(\"handover\", \"not_activated\")\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 1233.5102348327637,
    "y": 1225.5556888580322,
    "wires": [
      []
    ]
  },
  {
    "id": "d13fd59.7ff6028",
    "type": "function",
    "z": "1ce9a7fd.e28328",
    "name": "Handover Activated",
    "func": "flow.set(\"handover\", \"activated\")\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 1038.2602462768555,
    "y": 1282.0837421417236,
    "wires": [
      []
    ]
  },
  {
    "id": "aca4e56e.0ac548",
    "type": "comment",
    "z": "1ce9a7fd.e28328",
    "name": "Activate 'Handover' If agent Take Over",
    "info": "",
    "x": 985.5102844238281,
    "y": 1420.5833988189697,
    "wires": []
  },
  {
    "id": "79d08b91.0381a4",
    "type": "switch",
    "z": "1ce9a7fd.e28328",
    "name": "Switch",
    "property": "payload[0].content",
    "propertyType": "msg",
    "rules": [
      {
        "t": "nnull"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 665.0173568725586,
    "y": 1281.121693611145,
    "wires": [
      [
        "10f560e8.b59dff"
      ]
    ]
  },
  {
    "id": "e4f0bf35.f9f51",
    "type": "delay",
    "z": "1ce9a7fd.e28328",
    "name": "Delay 1m",
    "pauseType": "delay",
    "timeout": "1",
    "timeoutUnits": "minutes",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "x": 1006.923511505127,
    "y": 1224.8092956542969,
    "wires": [
      [
        "a9dfdfc7.aa6b3"
      ]
    ]
  },
  {
    "id": "a1c4ad0b.eb42e",
    "type": "link out",
    "z": "1ce9a7fd.e28328",
    "name": "",
    "links": [
      "9b0d4566.cd3da8"
    ],
    "x": 1251.7096519470215,
    "y": 142.92672538757324,
    "wires": []
  },
  {
    "id": "70f83d16.bf6064",
    "type": "link out",
    "z": "1ce9a7fd.e28328",
    "name": "",
    "links": [
      "9b0d4566.cd3da8"
    ],
    "x": 1252.755521774292,
    "y": 187.24529647827148,
    "wires": []
  },
  {
    "id": "d5470ffc.ab55f",
    "type": "comment",
    "z": "1ce9a7fd.e28328",
    "name": "Start",
    "info": "",
    "x": 217.96400451660156,
    "y": 325.54825019836426,
    "wires": []
  },
  {
    "id": "d1b99d68.8e01f",
    "type": "link in",
    "z": "1ce9a7fd.e28328",
    "name": "Send",
    "links": [
      "503982ac.349e1c",
      "8bbcb5fc.7dac58"
    ],
    "x": 1169.2270584106445,
    "y": 701.7765636444092,
    "wires": [
      [
        "7d51c1f7.0696b"
      ]
    ]
  },
  {
    "id": "503982ac.349e1c",
    "type": "link out",
    "z": "1ce9a7fd.e28328",
    "name": "",
    "links": [
      "d1b99d68.8e01f"
    ],
    "x": 806.7183437347412,
    "y": 550.4224014282227,
    "wires": []
  },
  {
    "id": "8bbcb5fc.7dac58",
    "type": "link out",
    "z": "1ce9a7fd.e28328",
    "name": "",
    "links": [
      "d1b99d68.8e01f"
    ],
    "x": 1195.255518913269,
    "y": 550.9952802658081,
    "wires": []
  },
  {
    "id": "cac487df.d3c3b8",
    "type": "hanna-app",
    "z": "",
    "appName": "go",
    "uri": "edugame",
    "socket": "chat/message",
    "image": "https://s3.eu-central-1.amazonaws.com/tekosdata/assets/images/bot_tekos.png",
    "startMessage": "start",
    "name": "go"
  }
]