data/lib/flows/NLP/TekosNLP.json
[
  {
    "id": "f11aaf66.1bb99",
    "type": "chatbot-message",
    "z": "f0559c6a.abc2b",
    "name": "Fallback",
    "message": [
      {
        "message": "Ohoo, I'm not trained yet !"
      },
      {
        "message": "This is a sample, you need to customise my flow"
      }
    ],
    "x": 925,
    "y": 345.00000762939453,
    "wires": [
      [
        "22b0f55a.f8176a"
      ]
    ]
  },
  {
    "id": "22b0f55a.f8176a",
    "type": "link out",
    "z": "f0559c6a.abc2b",
    "name": "",
    "links": [
      "a4ccac2d.33be7"
    ],
    "x": 1039.0000133514404,
    "y": 345.00000762939453,
    "wires": []
  },
  {
    "id": "8f6b6b35.a66768",
    "type": "tekos-nlp",
    "z": "f0559c6a.abc2b",
    "name": "NLP Parse",
    "token": "Token",
    "method": "POST",
    "uid": "{{xuid}}",
    "msg": "{{text}}",
    "action": "",
    "option": "parse",
    "ret": "obj",
    "url": "https://myshop-nlp-1543333634859.tekosnlp.com",
    "follow-redirects": true,
    "tls": "",
    "x": 255,
    "y": 225.00000762939453,
    "wires": [
      [
        "27e327ce.c10228",
        "9fb0263c.9081b8"
      ]
    ]
  },
  {
    "id": "dd954ede.9fb8f",
    "type": "switch",
    "z": "f0559c6a.abc2b",
    "name": "Rooter",
    "property": "payload.next_action",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "say_greet",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "say_bye",
        "vt": "str"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 3,
    "x": 698.0000534057617,
    "y": 189.0000171661377,
    "wires": [
      [
        "176a5d9a.b60052"
      ],
      [
        "3caab8e8.8f0d48"
      ],
      [
        "f11aaf66.1bb99"
      ]
    ]
  },
  {
    "id": "176a5d9a.b60052",
    "type": "link out",
    "z": "f0559c6a.abc2b",
    "name": "",
    "links": [
      "96c382e4.60e59"
    ],
    "x": 864.0000667572021,
    "y": 152.00003147125244,
    "wires": []
  },
  {
    "id": "27e327ce.c10228",
    "type": "function",
    "z": "f0559c6a.abc2b",
    "name": "Next Action",
    "func": "flow.set(\"next_action\", msg.payload.next_action)\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 495,
    "y": 165.00000762939453,
    "wires": [
      []
    ]
  },
  {
    "id": "f8f3a3d7.aa188",
    "type": "function",
    "z": "f0559c6a.abc2b",
    "name": "Xuid",
    "func": "if(flow.get(\"xuid\")){\n    msg.xuid = flow.get(\"xuid\")\n\n}\nelse \n    msg.xuid = Math.random().toString(36).substring(7);\n\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 115,
    "y": 225.00000762939453,
    "wires": [
      [
        "8f6b6b35.a66768"
      ]
    ]
  },
  {
    "id": "3caab8e8.8f0d48",
    "type": "link out",
    "z": "f0559c6a.abc2b",
    "name": "",
    "links": [
      "2264fd23.a6b1f2",
      "62ac6f18.93867"
    ],
    "x": 864.0000667572021,
    "y": 209.0000352859497,
    "wires": []
  },
  {
    "id": "fdc2e78f.4c8418",
    "type": "comment",
    "z": "f0559c6a.abc2b",
    "name": "Connexion",
    "info": "Connect this subflow with the fallback coming from\n\n![](https://i.imgur.com/nXImBuU.png)",
    "x": 131.00000762939453,
    "y": 287.00002098083496,
    "wires": []
  },
  {
    "id": "9fb0263c.9081b8",
    "type": "switch",
    "z": "f0559c6a.abc2b",
    "name": "High Confidence ?",
    "property": "payload.tracker.latest_message.intent.confidence",
    "propertyType": "msg",
    "rules": [
      {
        "t": "gt",
        "v": "0.7",
        "vt": "str"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 505,
    "y": 225.00000762939453,
    "wires": [
      [
        "dd954ede.9fb8f"
      ],
      [
        "f11aaf66.1bb99"
      ]
    ]
  },
  {
    "id": "2aac9374.44f76c",
    "type": "comment",
    "z": "f0559c6a.abc2b",
    "name": "Filter On High Confidence",
    "info": "",
    "x": 520.0000457763672,
    "y": 286.00002098083496,
    "wires": []
  },
  {
    "id": "1bca172d.8e4ec9",
    "type": "comment",
    "z": "f0559c6a.abc2b",
    "name": "Go To Actions",
    "info": "",
    "x": 1005,
    "y": 185.00000762939453,
    "wires": []
  },
  {
    "id": "67489af9.e123e4",
    "type": "link in",
    "z": "f0559c6a.abc2b",
    "name": "",
    "links": [],
    "x": 20,
    "y": 225.00000762939453,
    "wires": [
      [
        "f8f3a3d7.aa188"
      ]
    ]
  }
]