data/flows.json
[{"id":"14be2994.b92e96","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"4ff9a37e.57747c","type":"tekos bot","z":"","name":"","room":"","userId":"@tekosbot:m.tekos.co","accessToken":"MDAxOGxvY2F0aW9uIG0udGVrb3MuY28KMDAxM2lkZW50aWZpZXIga2V5CjAwMTBjaWQgZ2VuID0gMQowMDI3Y2lkIHVzZXJfaWQgPSBAdGVrb3Nib3Q6bS50ZWtvcy5jbwowMDE2Y2lkIHR5cGUgPSBhY2Nlc3MKMDAyMWNpZCBub25jZSA9IC54Zmw4PVMjI1d0JkhYajkKMDAyZnNpZ25hdHVyZSBFYzo8p8I8-3Q8khCGA9DRAJfMP2d8j9yeTmhyEXghuQo","matrixServerURL":"https://m.tekos.co"},{"id":"2fb25b64.0164b4","type":"Tekos in","z":"14be2994.b92e96","name":"","bot":"4ff9a37e.57747c","x":140,"y":100,"wires":[["10d25855.66d918","10e13c82.6808c3"]]},{"id":"40ed2386.f9661c","type":"Tekos out","z":"14be2994.b92e96","name":"","bot":"4ff9a37e.57747c","x":1100,"y":80,"wires":[]},{"id":"10d25855.66d918","type":"debug","z":"14be2994.b92e96","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":230,"y":260,"wires":[]},{"id":"efcdc0e4.396ff","type":"debug","z":"14be2994.b92e96","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1090,"y":140,"wires":[]},{"id":"679b90d1.21a53","type":"chatbot-message","z":"14be2994.b92e96","name":"","message":[{"message":"hii"}],"x":710,"y":40,"wires":[["40ed2386.f9661c"]]},{"id":"f0294d98.9916b","type":"delay","z":"14be2994.b92e96","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":640,"y":160,"wires":[[]]},{"id":"10e13c82.6808c3","type":"function","z":"14be2994.b92e96","name":"","func":"msg.roomId= msg.room\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":100,"wires":[["679b90d1.21a53","f0294d98.9916b"]]},{"id":"9352eff.7be491","type":"tekosbot-image","z":"14be2994.b92e96","name":"","medias":[{"type":"image","label":"image1","src":"https://helpx.adobe.com/content/dam/help/en/stock/how-to/visual-reverse-image-search/jcr_content/main-pars/image/visual-reverse-image-search-v2_intro.jpg"}],"x":850,"y":480,"wires":[[]]}]