data/flows_leadgeneration.json
[{"id":"e233f97f.483a68","type":"DS Message receive","z":"c3411a52.176e68","name":"","msApp":"ad5fa115.fb81","method":"chat/message","x":112.01738739013672,"y":98.0104866027832,"wires":[["b7ced8b5.38c4a8","276efc9c.cfeb44"]]},{"id":"1af7fa3b.1669e6","type":"link in","z":"c3411a52.176e68","name":"","links":["ec24dc0.816eb28","5a0ba0d2.6ba6c","7689d3a7.120a9c"],"x":82.01731538772583,"y":384.4549789428711,"wires":[["da467501.691758"]]},{"id":"511081b.fcc568","type":"chatbot-message","z":"c3411a52.176e68","name":"name?","message":[{"message":"Oh, good news 🤗\nMay I know your name?"}],"x":241.01732635498047,"y":526.4549751281738,"wires":[["eefc1897.8d36c8"]]},{"id":"c5036ddf.46abd","type":"chatbot-message","z":"c3411a52.176e68","name":"email?","message":[{"message":"Share your email address so that we can get in touch with you"}],"x":691.0173263549805,"y":626.4549751281738,"wires":[["4c3c5e45.b4ce3"]]},{"id":"e5ce1904.e30038","type":"delay","z":"c3411a52.176e68","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":501.01732635498047,"y":626.4549751281738,"wires":[["c5036ddf.46abd"]]},{"id":"f0e8c01c.6dd64","type":"function","z":"c3411a52.176e68","name":"thank u","func":"flow.set(\"name\", msg.payload.text[0])\nmsg.payload = {\n    type: \"message\",\n    content : \"thank you \"+flow.get(\"name\")\n}\nreturn msg;","outputs":1,"noerr":0,"x":271.01732635498047,"y":626.4549751281738,"wires":[["1cccb533.8ba1bb","e5ce1904.e30038"]]},{"id":"6c59bf3b.b602b","type":"chatbot-message","z":"c3411a52.176e68","name":"invalid email","message":[{"message":"Ah. Ahaa. That's an invalid address"}],"x":772.0173301696777,"y":867.4549560546875,"wires":[["4946d3f3.329c9c"]]},{"id":"75d0f3fc.c6e28c","type":"function","z":"c3411a52.176e68","name":"valid mail?","func":"var regex_mail = /^[a-zA-Z][\\w\\.-]*[a-zA-Z0-9]@[a-zA-Z0-9][\\w\\.-]*[a-zA-Z0-9]\\.[a-zA-Z][a-zA-Z\\.]*[a-zA-Z]$/\n\nvar mail = msg.payload.text[0];\nmsg.valid = mail.match(regex_mail);\n\nreturn msg;","outputs":1,"noerr":0,"x":322.01733016967773,"y":887.4549560546875,"wires":[["a3ec4f29.e12c7"]]},{"id":"a3ec4f29.e12c7","type":"switch","z":"c3411a52.176e68","name":"","property":"valid","propertyType":"msg","rules":[{"t":"null"},{"t":"nnull"}],"checkall":"true","repair":false,"outputs":2,"x":542.0173301696777,"y":887.4549560546875,"wires":[["6c59bf3b.b602b"],["c1a52579.7c8f88"]]},{"id":"7b4dc853.142628","type":"link out","z":"c3411a52.176e68","name":"","links":["c7c88ea9.69b55"],"x":737.0173301696777,"y":1047.4549560546875,"wires":[]},{"id":"f09c728f.ebb78","type":"chatbot-message","z":"c3411a52.176e68","name":"info?","message":[{"message":"Just one last step to complete 😎\nCould you tell me more information about your project ?"}],"x":969.0173301696777,"y":1087.4549560546875,"wires":[["65255d18.773ae4"]]},{"id":"caf01d99.f41ef","type":"delay","z":"c3411a52.176e68","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":792.0173301696777,"y":1087.4549560546875,"wires":[["f09c728f.ebb78"]]},{"id":"6adce8e4.4b66c8","type":"function","z":"c3411a52.176e68","name":"thank u","func":"flow.set(\"phone\", msg.payload.text[0])\nmsg.payload = { \n    type: \"message\",\n    content : \"Okey !\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":602.0173301696777,"y":1087.4549560546875,"wires":[["caf01d99.f41ef","7b4dc853.142628"]]},{"id":"21603f06.453c2","type":"function","z":"c3411a52.176e68","name":"Good bye","func":"msg.payload = { \n    type: \"message\",\n    content :  \"Awesome 👍 My collegue will call you in few minutes\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":312.01733016967773,"y":1187.4549560546875,"wires":[["7b10838a.81d4bc"]]},{"id":"6f07278b.791e58","type":"http request","z":"c3411a52.176e68","name":"PipeDrive API","method":"POST","ret":"obj","url":"https://api.pipedrive.com/v1/persons?api_token=170a580b712358ec5add01f3a73545ee2248f860","tls":"","x":812.0173301696777,"y":1247.4549560546875,"wires":[["faa2c8a1.ace668"]]},{"id":"bc329e27.65174","type":"function","z":"c3411a52.176e68","name":"request pipedrive","func":"flow.set(\"info\", msg.payload.text[0])\n\nmsg.headers = {\n\"Accept\": \"application/json\"\n}\nmsg.payload = {\n    \"name\": flow.get(\"name\"),\n    \"email\": [{\n        \"value\": flow.get(\"email\"),\n        \"primary\": true\n        }],\n    \"phone\": [{\n        \"value\": flow.get(\"phone\"),\n        \"primary\": true\n        }],\n    \"fac1b8302c0d6ca20ee4d32db247f03013fba556\" : flow.get(\"info\"),\n}\nreturn msg;","outputs":1,"noerr":0,"x":562.0173301696777,"y":1247.4549560546875,"wires":[["6f07278b.791e58"]]},{"id":"faa2c8a1.ace668","type":"debug","z":"c3411a52.176e68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1052.0173301696777,"y":1247.4549560546875,"wires":[]},{"id":"c1c5eaf1.13b088","type":"DS Message send","z":"c3411a52.176e68","msApp":"ad5fa115.fb81","name":"","nextListener":"","nextUri":"","nextAppName":"","x":1281.0173645019531,"y":120.01059436798096,"wires":[]},{"id":"1cccb533.8ba1bb","type":"link out","z":"c3411a52.176e68","name":"","links":["c7c88ea9.69b55"],"x":446.01732635498047,"y":586.4549751281738,"wires":[]},{"id":"c7c88ea9.69b55","type":"link in","z":"c3411a52.176e68","name":"out","links":["dbdf2270.e4aed","4e86695e.924e38","1cccb533.8ba1bb","b2287e4a.01f1b","3d9771fa.542fee","7b4dc853.142628","33aa3d91.6a2cb2"],"x":1137.017333984375,"y":119.0105848312378,"wires":[["c1c5eaf1.13b088"]]},{"id":"eefc1897.8d36c8","type":"DS Message send","z":"c3411a52.176e68","msApp":"ad5fa115.fb81","name":"mail","nextListener":"chat/message/mail","nextUri":"","nextAppName":"","x":441.01732635498047,"y":526.4549751281738,"wires":[]},{"id":"28b1cffc.72bd2","type":"DS Message receive","z":"c3411a52.176e68","name":"maill","msApp":"ad5fa115.fb81","method":"chat/message/mail","x":116.01731872558594,"y":627.4549970626831,"wires":[["f0e8c01c.6dd64"]]},{"id":"c4d522d1.37fc3","type":"DS Message receive","z":"c3411a52.176e68","name":"phone","msApp":"ad5fa115.fb81","method":"chat/message/phone","x":165.0173225402832,"y":886.454984664917,"wires":[["75d0f3fc.c6e28c"]]},{"id":"70fe3350.c255cc","type":"DS Message receive","z":"c3411a52.176e68","name":"info","msApp":"ad5fa115.fb81","method":"chat/message/info","x":92.01733016967773,"y":1067.4549560546875,"wires":[["2f58d394.6349ac"]]},{"id":"54c0072f.89cbb8","type":"DS Message receive","z":"c3411a52.176e68","name":"bye","msApp":"ad5fa115.fb81","method":"chat/message/bye","x":112.01733016967773,"y":1207.4549560546875,"wires":[["21603f06.453c2","6a9d8b36.638464"]]},{"id":"3467a0a8.54047","type":"DS Message send","z":"c3411a52.176e68","msApp":"ad5fa115.fb81","name":"info","nextListener":"chat/message/info","nextUri":"","nextAppName":"","x":972.0173301696777,"y":907.4549560546875,"wires":[]},{"id":"65255d18.773ae4","type":"DS Message send","z":"c3411a52.176e68","msApp":"ad5fa115.fb81","name":"bye","nextListener":"chat/message/bye","nextUri":"","nextAppName":"","x":1132.0173301696777,"y":1087.4549560546875,"wires":[]},{"id":"4946d3f3.329c9c","type":"DS Message send","z":"c3411a52.176e68","msApp":"ad5fa115.fb81","name":"phone","nextListener":"chat/message/phone","nextUri":"","nextAppName":"","x":972.0173301696777,"y":867.4549560546875,"wires":[]},{"id":"4c3c5e45.b4ce3","type":"DS Message send","z":"c3411a52.176e68","msApp":"ad5fa115.fb81","name":"phone","nextListener":"chat/message/phone","nextUri":"","nextAppName":"","x":881.0173263549805,"y":626.4549751281738,"wires":[]},{"id":"c1a52579.7c8f88","type":"function","z":"c3411a52.176e68","name":"thank u","func":"flow.set(\"email\", msg.payload.text[0])\nmsg.payload = { \n    type: \"message\",\n    content : \"Great! May I get your number phone ?\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":742.0173301696777,"y":907.4549560546875,"wires":[["3467a0a8.54047"]]},{"id":"2f58d394.6349ac","type":"function","z":"c3411a52.176e68","name":"valid phone?","func":"var regex_phone = /[0-9]{8}/\n\nvar phone = msg.payload.text[0];\nmsg.valid = phone.match(regex_phone);\n\nreturn msg;","outputs":1,"noerr":0,"x":262.01733016967773,"y":1067.4549560546875,"wires":[["85138011.84a98"]]},{"id":"85138011.84a98","type":"switch","z":"c3411a52.176e68","name":"","property":"valid","propertyType":"msg","rules":[{"t":"null"},{"t":"nnull"}],"checkall":"true","repair":false,"outputs":2,"x":442.01733016967773,"y":1067.4549560546875,"wires":[["4c9e75f1.ab8e1c"],["6adce8e4.4b66c8"]]},{"id":"4c9e75f1.ab8e1c","type":"chatbot-message","z":"c3411a52.176e68","name":"invalid phone","message":[{"message":"Ah. Ahaa. That's an invalid phone number"}],"x":612.0173301696777,"y":1027.4549560546875,"wires":[["8c12d783.9eaf68"]]},{"id":"8c12d783.9eaf68","type":"DS Message send","z":"c3411a52.176e68","msApp":"ad5fa115.fb81","name":"info","nextListener":"chat/message/info","nextUri":"","nextAppName":"","x":832.0173301696777,"y":1027.4549560546875,"wires":[]},{"id":"f1ebd86b.bac428","type":"comment","z":"c3411a52.176e68","name":"see how to add Custom-Fields","info":"https://support.pipedrive.com/hc/en-us/articles/207228075-Custom-Fields\n\nthen get the field key and add it to the body request","x":797.0173301696777,"y":1169.4549560546875,"wires":[]},{"id":"6a9d8b36.638464","type":"delay","z":"c3411a52.176e68","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":302.01733016967773,"y":1247.4549560546875,"wires":[["3d2d8e18.bd3c92"]]},{"id":"492f97b9.27ed68","type":"link in","z":"c3411a52.176e68","name":"","links":["a95a564b.d7a1f8"],"x":111.01733779907227,"y":1580.45512008667,"wires":[["6e6c996b.ed0f38"]]},{"id":"6e6c996b.ed0f38","type":"function","z":"c3411a52.176e68","name":"Good bye","func":"msg.payload = { \n    type: \"message\",\n    content :  \"See you soon !\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":266.01733779907227,"y":1580.45512008667,"wires":[["f0f3f70f.7774e8"]]},{"id":"dbdf2270.e4aed","type":"link out","z":"c3411a52.176e68","name":"","links":["c7c88ea9.69b55"],"x":738.0173482894897,"y":383.4550189971924,"wires":[]},{"id":"b7ced8b5.38c4a8","type":"switch","z":"c3411a52.176e68","name":"","property":"payload.text[0]","propertyType":"msg","rules":[{"t":"eq","v":"hi","vt":"str"},{"t":"eq","v":"go","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":292.0173873901367,"y":98.0104866027832,"wires":[["7689d3a7.120a9c"],["66bf0b2.50f9ff4"],[]]},{"id":"e3cebfd1.25932","type":"link in","z":"c3411a52.176e68","name":"","links":["66bf0b2.50f9ff4"],"x":89.01734924316406,"y":528.4549403190613,"wires":[["511081b.fcc568"]]},{"id":"66bf0b2.50f9ff4","type":"link out","z":"c3411a52.176e68","name":"","links":["e3cebfd1.25932"],"x":451.01738834381104,"y":119.0104866027832,"wires":[]},{"id":"f0f3f70f.7774e8","type":"DS Message send","z":"c3411a52.176e68","msApp":"ad5fa115.fb81","name":"","nextListener":"chat/message","nextUri":"","nextAppName":"","x":526.0173377990723,"y":1580.45512008667,"wires":[]},{"id":"f97229b.daefdd8","type":"http request","z":"c3411a52.176e68","name":"Strapi","method":"POST","ret":"obj","url":"http://server.tekos.co:1338/contacts","tls":"","x":960.0173606872559,"y":1565.4550008773804,"wires":[[]]},{"id":"3d2d8e18.bd3c92","type":"function","z":"c3411a52.176e68","name":"request strapi","func":"flow.set(\"info\", msg.payload.text[0])\n\nmsg.payload = {\n    \"username\": flow.get(\"name\"),\n    \"email\":flow.get(\"email\"),\n    \"phone\":flow.get(\"phone\"),\n    \"project\" : flow.get(\"info\"),\n}\nreturn msg;","outputs":1,"noerr":0,"x":552.0173301696777,"y":1347.4549560546875,"wires":[["e14b9c4d.2656f","cdc90c40.5e4bc"]]},{"id":"c23f6f35.89c43","type":"debug","z":"c3411a52.176e68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1052.0173301696777,"y":1347.4549560546875,"wires":[]},{"id":"e14b9c4d.2656f","type":"debug","z":"c3411a52.176e68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":732.0173301696777,"y":1407.4549560546875,"wires":[]},{"id":"e3b3cabb.950858","type":"link in","z":"c3411a52.176e68","name":"","links":["7b10838a.81d4bc"],"x":351.01733779907227,"y":1560.45512008667,"wires":[["f0f3f70f.7774e8"]]},{"id":"7b10838a.81d4bc","type":"link out","z":"c3411a52.176e68","name":"","links":["e3b3cabb.950858"],"x":462.01733016967773,"y":1187.4549560546875,"wires":[]},{"id":"5a85237e.cef41c","type":"comment","z":"c3411a52.176e68","name":"Get the token from user","info":"request : {\n    method : \"POST\",\n    url : \"http://server.tekos.co:1338/auth/local\",\n    body : {\n        \"identifier\" : \"username or email\",\n        \"password\" : \"password\"\n    }\n}\n\nresponse :\n    jwt :\"it is the token will be used for next request\"\n","x":794.0173454284668,"y":1306.4550189971924,"wires":[]},{"id":"eef25421.93cb88","type":"inject","z":"c3411a52.176e68","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":342.01733016967773,"y":1327.4549560546875,"wires":[["3d2d8e18.bd3c92"]]},{"id":"276efc9c.cfeb44","type":"debug","z":"c3411a52.176e68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":209.51738739013672,"y":152.0104866027832,"wires":[]},{"id":"7689d3a7.120a9c","type":"link out","z":"c3411a52.176e68","name":"","links":["1af7fa3b.1669e6"],"x":465.0173759460449,"y":74.01049041748047,"wires":[]},{"id":"cdc90c40.5e4bc","type":"Headless CMS","z":"c3411a52.176e68","name":"","headlessApp":"d3e59954.a37968","model":"$modelStrapi","uidStrapi":"","method":"find","x":826.5312461853027,"y":1346.6529989242554,"wires":[["c23f6f35.89c43"]]},{"id":"da467501.691758","type":"tekosbot-image","z":"c3411a52.176e68","name":"","medias":[{"type":"image","label":"","src":"https://media.giphy.com/media/26xBwdIuRJiAIqHwA/giphy.gif"}],"x":205.0346908569336,"y":384.4653968811035,"wires":[["15db5909.6337e7","3d9771fa.542fee"]]},{"id":"15db5909.6337e7","type":"delay","z":"c3411a52.176e68","name":"2","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":368.03465270996094,"y":385.4653959274292,"wires":[["3d5108bf.541478"]]},{"id":"3d9771fa.542fee","type":"link out","z":"c3411a52.176e68","name":"image","links":["c7c88ea9.69b55"],"x":375.03468322753906,"y":317.465389251709,"wires":[]},{"id":"3d5108bf.541478","type":"chatbot-quick-replies","z":"c3411a52.176e68","name":"what's this","message":"I'm TekosBot, i'm here to help you. If you want to see how i work press on go ;)","buttons":[{"type":"postback","label":"Go","value":"go","alert":false}],"x":559.0173263549805,"y":384.01045417785645,"wires":[["dbdf2270.e4aed"]]},{"id":"ad5fa115.fb81","type":"hanna-app","z":"","appName":"generation","uri":"","socket":"chat/message","image":"https://tekosdata.s3.eu-central-1.amazonaws.com/robot-1531242785514.png","startMessage":"hi","name":""},{"id":"d3e59954.a37968","type":"headless-app","z":"","username_strapi":"$usernameStrapi","password_strapi":"$passwordStrapi","server_strapi":"$urlServerStrapi","name":""}]