data/flows_demo.json
[
  {
    "id": "e34c4ab1.15c088",
    "type": "inject",
    "z": "9a5991c9.0f95a",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 161.5,
    "y": 218,
    "wires": [
      [
        "e892bce0.2ccb6"
      ]
    ]
  },
  {
    "id": "e892bce0.2ccb6",
    "type": "http request",
    "z": "9a5991c9.0f95a",
    "name": "",
    "method": "GET",
    "ret": "txt",
    "url": "$url",
    "tls": "",
    "x": 359.5,
    "y": 211,
    "wires": [
      [
        "a8eb8e04.8bab7"
      ]
    ]
  },
  {
    "id": "a8eb8e04.8bab7",
    "type": "debug",
    "z": "9a5991c9.0f95a",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "x": 556.5,
    "y": 152,
    "wires": []
  }
]