data/flows_hubspot.json
[{"id":"110158a9.050c97","type":"Hubspot Contact","z":"beb8f8ee.7c4ec8","name":"","operation":"create","options":[],"proprieties":{"email":"","firstname":"","lastname":"","website":"","company":"","phone":"","address":"","city":"","state":"","zip":""},"email":"","firstname":"","lastname":"","website":"","company":"","phone":"","address":"","city":"","state":"","zip":"","payload":"","topic":"","hubspotApp":"403cfc1.33f5e04","x":660,"y":580,"wires":[["2499c4a3.ff031c"]]},{"id":"a93d55a5.dd6038","type":"DS Message send","z":"beb8f8ee.7c4ec8","msApp":"253a5768.029298","name":"","nextListener":"","nextUri":"","nextAppName":"","x":1250,"y":80,"wires":[]},{"id":"895daa4c.2d28a8","type":"link in","z":"beb8f8ee.7c4ec8","name":"","links":["6df50818.aa1ff8","f19534b1.cdbe58","6f5fdc5c.3d07f4","484cfa42.4eb844","55b713fd.9329ec","57bd348c.036c8c","8b0956db.06b518","8b8aad3a.eeea9","6e0748d9.71f968","6c0657af.5ba6a8","b10773aa.f737a","5816c0af.2ec21","ca60b5a5.76db58"],"x":1115,"y":80,"wires":[["a93d55a5.dd6038"]]},{"id":"8b0956db.06b518","type":"link out","z":"beb8f8ee.7c4ec8","name":"","links":["895daa4c.2d28a8"],"x":555,"y":280,"wires":[]},{"id":"90f08ba8.d02488","type":"DS Message send","z":"beb8f8ee.7c4ec8","msApp":"253a5768.029298","name":"end","nextListener":"chat/message/end","nextUri":"","nextAppName":"","x":430,"y":480,"wires":[]},{"id":"7b328277.58d1bc","type":"link in","z":"beb8f8ee.7c4ec8","name":"","links":["10d6b4bf.92f07b"],"x":55,"y":340,"wires":[["ce827bca.400498"]]},{"id":"94a58ef4.bfbcf","type":"switch","z":"beb8f8ee.7c4ec8","name":"","property":"payload.text[0]","propertyType":"msg","rules":[{"t":"eq","v":"start","vt":"str"},{"t":"eq","v":"go","vt":"str"},{"t":"eq","v":"services","vt":"str"},{"t":"eq","v":"hi","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":5,"x":280,"y":100,"wires":[["10d6b4bf.92f07b"],["6484cc9e.052344"],["40affd16.19fc84"],["a3f80e02.d629b"],[]]},{"id":"6484cc9e.052344","type":"link out","z":"beb8f8ee.7c4ec8","name":"","links":["886d634c.6df2d"],"x":435,"y":80,"wires":[]},{"id":"40affd16.19fc84","type":"link out","z":"beb8f8ee.7c4ec8","name":"","links":["855366ae.f2a808"],"x":415,"y":100,"wires":[]},{"id":"e771dad7.dcc8b8","type":"debug","z":"beb8f8ee.7c4ec8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":197.5,"y":154,"wires":[]},{"id":"a3f80e02.d629b","type":"link out","z":"beb8f8ee.7c4ec8","name":"","links":[],"x":437,"y":120,"wires":[]},{"id":"5804dabd.51fd14","type":"DS Message receive","z":"beb8f8ee.7c4ec8","name":"","msApp":"253a5768.029298","method":"chat/message","x":80,"y":100,"wires":[["94a58ef4.bfbcf","e771dad7.dcc8b8"]]},{"id":"10d6b4bf.92f07b","type":"link out","z":"beb8f8ee.7c4ec8","name":"","links":["7b328277.58d1bc"],"x":380,"y":40,"wires":[]},{"id":"ce827bca.400498","type":"tekosbot-image","z":"beb8f8ee.7c4ec8","name":"","medias":[{"type":"image","label":"","src":"https://media.giphy.com/media/26xBwdIuRJiAIqHwA/giphy.gif"}],"x":190,"y":340,"wires":[["270f4e6a.01bb92","b10773aa.f737a"]]},{"id":"270f4e6a.01bb92","type":"delay","z":"beb8f8ee.7c4ec8","name":"2","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":330,"y":340,"wires":[["b5680865.5bf968"]]},{"id":"b10773aa.f737a","type":"link out","z":"beb8f8ee.7c4ec8","name":"","links":["895daa4c.2d28a8"],"x":295,"y":260,"wires":[]},{"id":"b5680865.5bf968","type":"chatbot-message","z":"beb8f8ee.7c4ec8","name":"","message":[{"message":"I'm TekosBot, i'm here to help you ;)"}],"x":450,"y":340,"wires":[["7f2c98f0.8044c8","8b0956db.06b518"]]},{"id":"7f2c98f0.8044c8","type":"delay","z":"beb8f8ee.7c4ec8","name":"2","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":590,"y":340,"wires":[["d3a0a7f7.d87188"]]},{"id":"d0801315.f7c17","type":"form","z":"beb8f8ee.7c4ec8","name":"form hubspot","title":"Add New Contact","subtitle":"Please fill these Fields","formId":"hubspotContact2019","action":"send","options":[{"label":"firstname","value":"firstname","type":"text","list":"","required":false},{"label":"lastname","value":"lastname","type":"text","list":"","required":false},{"label":"email","value":"email","type":"email","list":"","required":false},{"label":"phone","value":"phone","type":"tel","list":"","required":false}],"formValue":{"firstname":"","lastname":"","email":"","phone":""},"payload":"","topic":"","x":260,"y":480,"wires":[["90f08ba8.d02488"]]},{"id":"1c902c09.68f784","type":"DS Message receive","z":"beb8f8ee.7c4ec8","name":"get form","msApp":"253a5768.029298","method":"chat/formId/hubspotContact2019","x":140,"y":580,"wires":[["803afc3f.81725"]]},{"id":"803afc3f.81725","type":"function","z":"beb8f8ee.7c4ec8","name":"request hubspot","func":"\nmsg.payload =  {\n    email: msg.payload.email,\n    firstname: msg.payload.firstname,\n    lastname: msg.payload.lastname,\n    phone: msg.payload.phone\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":580,"wires":[["110158a9.050c97"]]},{"id":"2499c4a3.ff031c","type":"chatbot-message","z":"beb8f8ee.7c4ec8","name":"","message":[{"message":"Your contact is registered with success.\nSee you soon !"}],"x":850,"y":580,"wires":[["fe47a203.5293e"]]},{"id":"28d6f7fa.9a0888","type":"link in","z":"beb8f8ee.7c4ec8","name":"","links":["f7c6b97.9f2da48","5ff1c6ed.8d80a8"],"x":95,"y":480,"wires":[["d0801315.f7c17"]]},{"id":"fe47a203.5293e","type":"DS Message send","z":"beb8f8ee.7c4ec8","msApp":"253a5768.029298","name":"","nextListener":"chat/message","nextUri":"","nextAppName":"","x":1030,"y":580,"wires":[]},{"id":"d3a0a7f7.d87188","type":"chatbot-message","z":"beb8f8ee.7c4ec8","name":"","message":[{"message":"here is how to create contact in Hubspot."}],"x":710,"y":340,"wires":[["ca60b5a5.76db58","7655b9f.5998548"]]},{"id":"ca60b5a5.76db58","type":"link out","z":"beb8f8ee.7c4ec8","name":"","links":["895daa4c.2d28a8"],"x":815,"y":280,"wires":[]},{"id":"5ff1c6ed.8d80a8","type":"link out","z":"beb8f8ee.7c4ec8","name":"","links":["28d6f7fa.9a0888"],"x":955,"y":340,"wires":[]},{"id":"7655b9f.5998548","type":"delay","z":"beb8f8ee.7c4ec8","name":"2","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":850,"y":340,"wires":[["5ff1c6ed.8d80a8"]]},{"id":"403cfc1.33f5e04","type":"hubspot-app","z":"","apiKey":"$apiHubspot","name":"hubspot"},{"id":"253a5768.029298","type":"hanna-app","z":"","appName":"leadGenerationKit","uri":"LeadGeneration","socket":"chat/message","image":"https://tekosdata.s3.eu-central-1.amazonaws.com/lead-generation%20%281%29-1546595085034.png","startMessage":"start","name":"leadGenerationKit"}]