data/lib/flows/Entreprise API/Hubspot.json
[
  {
    "id": "971e5512.6aaa68",
    "type": "http request",
    "z": "3a2c66bc.a6260a",
    "name": "Hubspot API",
    "method": "POST",
    "ret": "obj",
    "url": "https://api.hubapi.com/contacts/v1/contact/?hapikey=",
    "tls": "",
    "x": 750.0130004882812,
    "y": 275.01300048828125,
    "wires": [
      [
        "a0fbe0b0.1bcd3"
      ]
    ]
  },
  {
    "id": "dfbc19fe.e67a58",
    "type": "function",
    "z": "3a2c66bc.a6260a",
    "name": "request hubspot",
    "func": "\nmsg.headers = {\n\"Accept\": \"application/json\"\n}\nmsg.payload = {\n  \"properties\": [\n    {\n      \"property\": \"email\",\n      \"value\": msg.payload.email,\n    },\n    {\n      \"property\": \"firstname\",\n      \"value\": msg.payload.name,\n    }\n    ]\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 511.26300048828125,
    "y": 275.0129852294922,
    "wires": [
      [
        "971e5512.6aaa68"
      ]
    ]
  },
  {
    "id": "a0fbe0b0.1bcd3",
    "type": "debug",
    "z": "3a2c66bc.a6260a",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "x": 990.0130004882812,
    "y": 275.01300048828125,
    "wires": []
  },
  {
    "id": "31b8ab1b.62e8e4",
    "type": "DS Message receive",
    "z": "3a2c66bc.a6260a",
    "name": "",
    "msApp": "cac487df.d3c3b8",
    "method": "chat/message",
    "x": 285.6380386352539,
    "y": 274.8871669769287,
    "wires": [
      [
        "dfbc19fe.e67a58"
      ]
    ]
  },
  {
    "id": "3667618.667a69e",
    "type": "comment",
    "z": "3a2c66bc.a6260a",
    "name": "Create Contact In Hubspot",
    "info": "",
    "x": 646.8880615234375,
    "y": 163.41146755218506,
    "wires": []
  },
  {
    "id": "cac487df.d3c3b8",
    "type": "hanna-app",
    "z": "",
    "appName": "go",
    "uri": "edugame",
    "socket": "chat/message",
    "image": "https://s3.eu-central-1.amazonaws.com/tekosdata/assets/images/bot_tekos.png",
    "startMessage": "start",
    "name": "go"
  }
]