data/lib/flows/Entreprise API/Stripe.json
[
  {
    "id": "63e1a4a6.cefcfc",
    "type": "subflow",
    "name": "Payments & Fees",
    "info": "",
    "in": [
      {
        "x": 60,
        "y": 420,
        "wires": [
          {
            "id": "f2eeb012.c044d"
          }
        ]
      }
    ],
    "out": [
      {
        "x": 1860,
        "y": 160,
        "wires": [
          {
            "id": "543288dc.aa2d48",
            "port": 0
          }
        ]
      }
    ]
  },
  {
    "id": "1455dcea.bd0d23",
    "type": "function",
    "z": "63e1a4a6.cefcfc",
    "name": "Order",
    "func": "global.set(\"sourceID\", msg.payload.default_source)\nmsg.payload={\n  currency: 'eur',\n  items: global.get(\"itemsOrder\"),\n  customer: msg.payload.id,\n  shipping : {\n      address : {\n         \"line1\": \"417 MONTGOMERY ST STE 500\",\n         \"city\": \"SAN FRANCISCO\",\n         \"state\": \"CA\",\n         \"postal_code\": \"94104\",\n         \"country\": \"US\",\n      },\n      name : \"Zeineb Ghdir\",\n  }\n}\n\n\nmsg.headers = {\n    \"Authorization\": global.get(\"AuthorizationOwner\"),\n    \"Content-Type\": global.get(\"Content-Type\"),\n    \"Stripe-Account\": global.get(\"account\")\n\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 372.0000114440918,
    "y": 420.0000123977661,
    "wires": [
      [
        "34ab31c0.0d132e"
      ]
    ]
  },
  {
    "id": "e3ff9bed.7a4238",
    "type": "function",
    "z": "63e1a4a6.cefcfc",
    "name": "Table",
    "func": "/*var elements = [];\nvar results = msg.payload;\n\nfor (var i = 0; i < results.length; i++) {\n    delete results[i]._id;\n    results[i].actions = [{\n                        \"icon\": \"mode edit\",\n                        \"type\": \"update\",\n                        \"listen\": \"chat/formId/edit\",\n                        \"query\": {\"email\": results[i].email}\n                        },\n                        {\n                        \"icon\": \"delete\",\n                        \"type\": \"delete\",\n                        \"listen\": \"chat/formId/delete\",\n                        \"query\": {\"email\": results[i].email}\n                        }]\n    elements.push(results[i]);\n}*/\nvar elements=[];\nelements.push({\n                email: msg.payload.email,\n                status: msg.payload.status,\n                amount:msg.payload.amount/100+\" eur\"\n                \n            })\n\nmsg.payload = {\n    type: \"table\",\n    elements: elements\n            \n        \n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 1255.0000953674316,
    "y": 275.6669063568115,
    "wires": [
      [
        "ff70a99c.30c3a8",
        "ba39617.3a102a"
      ]
    ]
  },
  {
    "id": "ff70a99c.30c3a8",
    "type": "function",
    "z": "63e1a4a6.cefcfc",
    "name": "Flow Set",
    "func": "global.set('items', JSON.stringify([]));\n\nmsg.payload=global.get('items')\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 1420.3333015441895,
    "y": 276.00015783309937,
    "wires": [
      []
    ]
  },
  {
    "id": "ba39617.3a102a",
    "type": "link out",
    "z": "63e1a4a6.cefcfc",
    "name": "",
    "links": [
      "543288dc.aa2d48"
    ],
    "x": 1344.3810348510742,
    "y": 210.6664171218872,
    "wires": []
  },
  {
    "id": "f7b17bdf.8109d8",
    "type": "function",
    "z": "63e1a4a6.cefcfc",
    "name": "Pay",
    "func": "msg.OrderID = msg.payload.id\nmsg.payload={\n  customer: msg.payload.customer,\n  source : global.get(\"sourceID\"),\n  application_fee : msg.payload.amount * 0.3\n}\n\n\nmsg.headers = {\n    \"Authorization\": global.get(\"AuthorizationOwner\"),\n    \"Content-Type\": global.get(\"Content-Type\"),\n    \"Stripe-Account\": global.get(\"account\")\n\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 750,
    "y": 420,
    "wires": [
      [
        "e19a2fb5.670bd"
      ]
    ]
  },
  {
    "id": "8a6670b8.d3b6c",
    "type": "chatbot-message",
    "z": "63e1a4a6.cefcfc",
    "name": "Payment Succeeded",
    "message": [
      {
        "message": "Votre paiement a été effectué avec succès"
      }
    ],
    "x": 1424.2140808105469,
    "y": 385.0001525878906,
    "wires": [
      [
        "14880f0a.880b51"
      ]
    ]
  },
  {
    "id": "14880f0a.880b51",
    "type": "link out",
    "z": "63e1a4a6.cefcfc",
    "name": "",
    "links": [
      "543288dc.aa2d48"
    ],
    "x": 1627.2142009735107,
    "y": 385.0001468658447,
    "wires": []
  },
  {
    "id": "f9e03d63.3920b",
    "type": "switch",
    "z": "63e1a4a6.cefcfc",
    "name": "Switch",
    "property": "payload.status",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "paid",
        "vt": "str"
      },
      {
        "t": "neq",
        "v": "paid",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 1205.8810386657715,
    "y": 420.66665267944336,
    "wires": [
      [
        "8a6670b8.d3b6c"
      ],
      [
        "b2adc40c.221438"
      ]
    ]
  },
  {
    "id": "f2eeb012.c044d",
    "type": "delay",
    "z": "63e1a4a6.cefcfc",
    "name": "Delay 3s",
    "pauseType": "delay",
    "timeout": "3",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "x": 194.0475730895996,
    "y": 419.83366203308105,
    "wires": [
      [
        "1455dcea.bd0d23"
      ]
    ]
  },
  {
    "id": "e19a2fb5.670bd",
    "type": "http request",
    "z": "63e1a4a6.cefcfc",
    "name": "Pay Order",
    "method": "POST",
    "ret": "obj",
    "url": "https://api.stripe.com/v1/orders/{{OrderID}}/pay",
    "tls": "",
    "x": 948.214054107666,
    "y": 420.16683197021484,
    "wires": [
      [
        "f9e03d63.3920b",
        "e7f9db94.f20be8",
        "8043640d.37fad8"
      ]
    ]
  },
  {
    "id": "e7f9db94.f20be8",
    "type": "delay",
    "z": "63e1a4a6.cefcfc",
    "name": "Delay 2s",
    "pauseType": "delay",
    "timeout": "2",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "x": 1107.7141761779785,
    "y": 275.5001516342163,
    "wires": [
      [
        "e3ff9bed.7a4238"
      ]
    ]
  },
  {
    "id": "b2adc40c.221438",
    "type": "chatbot-message",
    "z": "63e1a4a6.cefcfc",
    "name": "Payment Failed",
    "message": [
      {
        "message": "Oups! il y'a eu un problème lors du payement de votre commande"
      }
    ],
    "x": 1418.5473861694336,
    "y": 457.5001702308655,
    "wires": [
      [
        "445266ce.eaeba8"
      ]
    ]
  },
  {
    "id": "445266ce.eaeba8",
    "type": "link out",
    "z": "63e1a4a6.cefcfc",
    "name": "",
    "links": [
      "543288dc.aa2d48"
    ],
    "x": 1630.5473737716675,
    "y": 458.5001697540283,
    "wires": []
  },
  {
    "id": "d4306c7f.a584d",
    "type": "template",
    "z": "63e1a4a6.cefcfc",
    "name": "Template",
    "field": "payload",
    "fieldType": "msg",
    "format": "html",
    "syntax": "mustache",
    "template": "<p>Bonjour,</p>\n<p><strong>Facture de chez BestShop</strong> </p>\n<p><strong>Voici votre<span style=\"color: #ff0000;\"> Facture</span></strong></p>\n<table style=\"height: 80px; border-color: #000;\" width=\"264\">\n<tbody>\n<tr>\n<td style=\"width: 78px; text-align: center;\"><strong>Ordre id</strong></td>\n<td style=\"width: 79px; text-align: center;\"><strong>amount</strong></td>\n<td style=\"width: 85px; text-align: center;\"><strong>status</strong></td>\n<td style=\"width: 85px; text-align: center;\"><strong>items</strong></td>\n</tr>\n<tr>\n<td style=\"width: 78px;\">{{payload.id}}</td>\n<td style=\"width: 79px; text-align: center;\">{{payload.amount}} {{payload.currency}}</td>\n<td style=\"width: 85px; text-align: center;\">{{payload.status}}</td>\n<td style=\"width: 85px; text-align: center;\">{{payload.items[0].description}}</td>\n</tr>\n</tbody>\n</table>\n<p>&nbsp;</p>\n<p>Pour plus d'info merci de nous envoyer un mail sur hello@tekos.co</p>",
    "output": "str",
    "x": 1436.2555084228516,
    "y": 561.750394821167,
    "wires": [
      [
        "c1a26425.26e998"
      ]
    ]
  },
  {
    "id": "be78cd4a.8446f",
    "type": "function",
    "z": "63e1a4a6.cefcfc",
    "name": "File Name",
    "func": "msg.filename = \"invoice.pdf\"\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 1273.2554168701172,
    "y": 560.7504081726074,
    "wires": [
      [
        "d4306c7f.a584d"
      ]
    ]
  },
  {
    "id": "819f9dd3.20412",
    "type": "function",
    "z": "63e1a4a6.cefcfc",
    "name": "Email",
    "func": "msg.filename = msg.payload.filename\nmsg.to = global.get(\"email\")\nmsg.payload = \"Hello there, you find below the facturation details of your last commande \"\nmsg.topic = \"Facturation from BestShop\"\nmsg.attachments = [{\n    filename: \"invoice.pdf\",\n    path: msg.filename\n}]\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 1794.2555313110352,
    "y": 560.7504329681396,
    "wires": [
      [
        "e99f7634.7dc2b8"
      ]
    ]
  },
  {
    "id": "8043640d.37fad8",
    "type": "delay",
    "z": "63e1a4a6.cefcfc",
    "name": "Delay 5s",
    "pauseType": "delay",
    "timeout": "5",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "x": 1112.2556266784668,
    "y": 561.0836296081543,
    "wires": [
      [
        "be78cd4a.8446f"
      ]
    ]
  },
  {
    "id": "88205298.9d89e",
    "type": "comment",
    "z": "63e1a4a6.cefcfc",
    "name": "------------------------- Payments & Fees -------------------------",
    "info": "Vérification des inputs : \n- Si le customer est déjà inscrit => on actualise la source\n(avec le token nouvellement généré) et on passe les charges et l'ordre\n\n- le customer n'est pas déjà => on créer un nouveau customer avec l'adresse \nemail saisie et on lui attribue la nouvelle source puis on passe les charges et l'ordre",
    "x": 790,
    "y": 140,
    "wires": []
  },
  {
    "id": "543288dc.aa2d48",
    "type": "link in",
    "z": "63e1a4a6.cefcfc",
    "name": "",
    "links": [
      "445266ce.eaeba8",
      "14880f0a.880b51",
      "ba39617.3a102a"
    ],
    "x": 1695,
    "y": 160,
    "wires": [
      []
    ]
  },
  {
    "id": "34ab31c0.0d132e",
    "type": "stripe-advanced",
    "z": "63e1a4a6.cefcfc",
    "configNode": "",
    "method": "orders.create",
    "x": 570,
    "y": 420,
    "wires": [
      [
        "f7b17bdf.8109d8"
      ]
    ]
  },
  {
    "id": "e99f7634.7dc2b8",
    "type": "tekos-mail",
    "z": "63e1a4a6.cefcfc",
    "server": "smtp.gmail.com",
    "port": "465",
    "name": "",
    "dname": "",
    "x": 1994.5271835327148,
    "y": 560.3464088439941,
    "wires": []
  },
  {
    "id": "c1a26425.26e998",
    "type": "HTML-PDF",
    "z": "63e1a4a6.cefcfc",
    "name": "HTML-PDF",
    "output": "file",
    "x": 1614.000114440918,
    "y": 561.0000486373901,
    "wires": [
      [
        "819f9dd3.20412"
      ]
    ]
  },
  {
    "id": "aece97f8.c022a8",
    "type": "subflow",
    "name": "create customer",
    "info": "",
    "in": [
      {
        "x": 40,
        "y": 200,
        "wires": [
          {
            "id": "41b57eb1.b2dbd"
          }
        ]
      }
    ],
    "out": [
      {
        "x": 1426.000081062317,
        "y": 201.0000057220459,
        "wires": [
          {
            "id": "64b06ed0.dc80e",
            "port": 0
          }
        ]
      }
    ]
  },
  {
    "id": "41b57eb1.b2dbd",
    "type": "function",
    "z": "aece97f8.c022a8",
    "name": "New Cutomer",
    "func": "msg.payload = {\n  email: global.get(\"email\"),\n  source : global.get(\"source\")\n}\n\n\nmsg.headers = {\n    \"Authorization\": global.get(\"AuthorizationOwner\"),\n    \"Content-Type\": global.get(\"Content-Type\"),\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 220,
    "y": 200,
    "wires": [
      [
        "e7be0126.35c06"
      ]
    ]
  },
  {
    "id": "e7be0126.35c06",
    "type": "http request",
    "z": "aece97f8.c022a8",
    "name": "Create Customer",
    "method": "POST",
    "ret": "obj",
    "url": "https://api.stripe.com/v1/customers",
    "tls": "",
    "x": 461.3808784484863,
    "y": 201.333251953125,
    "wires": [
      [
        "8e7b8706.d63978"
      ]
    ]
  },
  {
    "id": "8e7b8706.d63978",
    "type": "function",
    "z": "aece97f8.c022a8",
    "name": "Token",
    "func": "msg.payload = {\n     customer : msg.payload.id\n}\nmsg.headers = {\n    \"Authorization\": global.get(\"AuthorizationOwner\"),\n    \"Content-Type\": global.get(\"Content-Type\"),\n    \"Stripe-Account\": global.get(\"account\")\n}\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 642.2142944335938,
    "y": 201.6669921875,
    "wires": [
      [
        "bc30f80a.9e9018"
      ]
    ]
  },
  {
    "id": "bc30f80a.9e9018",
    "type": "http request",
    "z": "aece97f8.c022a8",
    "name": "Create Token",
    "method": "POST",
    "ret": "obj",
    "url": "https://api.stripe.com/v1/tokens",
    "tls": "",
    "x": 816.7140769958496,
    "y": 201.66690635681152,
    "wires": [
      [
        "2bbb0b2c.0b0954"
      ]
    ]
  },
  {
    "id": "2bbb0b2c.0b0954",
    "type": "function",
    "z": "aece97f8.c022a8",
    "name": "Token",
    "func": "msg.payload = {\n    email : global.get(\"email\"),\n    description :\"Shared Customer\",\n    source : msg.payload.id\n}\n    \nmsg.headers = {\n    \"Authorization\": global.get(\"AuthorizationOwner\"),\n    \"Content-Type\": global.get(\"Content-Type\"),\n    \"Stripe-Account\": global.get(\"account\")\n}\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 1001.3810005187988,
    "y": 201.33324718475342,
    "wires": [
      [
        "64b06ed0.dc80e"
      ]
    ]
  },
  {
    "id": "64b06ed0.dc80e",
    "type": "http request",
    "z": "aece97f8.c022a8",
    "name": "Create Customer",
    "method": "POST",
    "ret": "obj",
    "url": "https://api.stripe.com/v1/customers",
    "tls": "",
    "x": 1210.714241027832,
    "y": 200.6667537689209,
    "wires": [
      []
    ]
  },
  {
    "id": "67668a98.af1764",
    "type": "comment",
    "z": "aece97f8.c022a8",
    "name": "------------ Create New Customer --------------",
    "info": "",
    "x": 973.7142333984375,
    "y": 98.666748046875,
    "wires": []
  },
  {
    "id": "eb2768bc.26adf8",
    "type": "subflow",
    "name": "update customer",
    "info": "",
    "in": [
      {
        "x": 40,
        "y": 120,
        "wires": [
          {
            "id": "80f4e7b8.7f4e08"
          }
        ]
      }
    ],
    "out": [
      {
        "x": 1180,
        "y": 300,
        "wires": [
          {
            "id": "5097b0a3.e27ee",
            "port": 0
          }
        ]
      }
    ]
  },
  {
    "id": "7c545532.988d3c",
    "type": "http request",
    "z": "eb2768bc.26adf8",
    "name": "Customer Update",
    "method": "POST",
    "ret": "obj",
    "url": "https://api.stripe.com/v1/customers/{{CUSTOMER_ID}}",
    "tls": "",
    "x": 240,
    "y": 300,
    "wires": [
      [
        "32c6c07e.c8082"
      ]
    ]
  },
  {
    "id": "1f0a160f.453e2a",
    "type": "function",
    "z": "eb2768bc.26adf8",
    "name": "Update Customer",
    "func": "msg.CUSTOMER_ID = global.get(\"customerOwner\")\nmsg.payload = {\n  source : global.get(\"source\")\n}\n\n\nmsg.headers = {\n    \"Authorization\": global.get(\"AuthorizationOwner\"),\n    \"Content-Type\": global.get(\"Content-Type\"),\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 1060,
    "y": 120,
    "wires": [
      [
        "77937cb4.f723a4"
      ]
    ]
  },
  {
    "id": "80f4e7b8.7f4e08",
    "type": "function",
    "z": "eb2768bc.26adf8",
    "name": "Recover Email And Source",
    "func": "\nmsg.headers = {\n    \"Authorization\": global.get(\"AuthorizationOwner\"),\n    \"Content-Type\": global.get(\"Content-Type\")\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 250,
    "y": 120,
    "wires": [
      [
        "6f4ee5f2.f1f76c"
      ]
    ]
  },
  {
    "id": "6f4ee5f2.f1f76c",
    "type": "http request",
    "z": "eb2768bc.26adf8",
    "name": "Get Customers(Owner)",
    "method": "GET",
    "ret": "obj",
    "url": "https://api.stripe.com/v1/customers",
    "tls": "",
    "x": 560,
    "y": 120,
    "wires": [
      [
        "6b25a4db.31e58c"
      ]
    ]
  },
  {
    "id": "6b25a4db.31e58c",
    "type": "function",
    "z": "eb2768bc.26adf8",
    "name": "Compare Email",
    "func": "if( msg.payload.data.length === 0){\n    msg.found = false\n} else\n\n    for(var i=0; i< msg.payload.data.length; i++){\n        let element= msg.payload.data[i]\n        if(element.email === global.get(\"email\") ){\n            msg.found = true\n            global.set(\"customerOwner\",element.id)\n            break;\n        }else\n            msg.found = false\n    }\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 816.0000610351562,
    "y": 120.0000057220459,
    "wires": [
      [
        "1f0a160f.453e2a"
      ]
    ]
  },
  {
    "id": "32c6c07e.c8082",
    "type": "function",
    "z": "eb2768bc.26adf8",
    "name": "Token",
    "func": "msg.payload = {\n     customer : msg.payload.id\n}\nmsg.headers = {\n    \"Authorization\": global.get(\"AuthorizationOwner\"),\n    \"Content-Type\": global.get(\"Content-Type\"),\n    \"Stripe-Account\": global.get(\"account\")\n}\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 430,
    "y": 300,
    "wires": [
      [
        "4800410d.05332"
      ]
    ]
  },
  {
    "id": "4800410d.05332",
    "type": "http request",
    "z": "eb2768bc.26adf8",
    "name": "Create Token",
    "method": "POST",
    "ret": "obj",
    "url": "https://api.stripe.com/v1/tokens",
    "tls": "",
    "x": 600,
    "y": 300,
    "wires": [
      [
        "682db5a4.959a8c"
      ]
    ]
  },
  {
    "id": "682db5a4.959a8c",
    "type": "function",
    "z": "eb2768bc.26adf8",
    "name": "Token",
    "func": "msg.CUSTOMER_ID= global.get(\"customer\")\nmsg.payload = {\n    source : msg.payload.id\n}\n    \nmsg.headers = {\n    \"Authorization\": global.get(\"AuthorizationOwner\"),\n    \"Content-Type\": global.get(\"Content-Type\"),\n    \"Stripe-Account\": global.get(\"account\")\n}\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 770,
    "y": 300,
    "wires": [
      [
        "5097b0a3.e27ee"
      ]
    ]
  },
  {
    "id": "ad530e95.593f4",
    "type": "comment",
    "z": "eb2768bc.26adf8",
    "name": "------------Update customer--------------",
    "info": "",
    "x": 939.0951728820801,
    "y": 39.95185375213623,
    "wires": []
  },
  {
    "id": "5097b0a3.e27ee",
    "type": "http request",
    "z": "eb2768bc.26adf8",
    "name": "Customer Update",
    "method": "POST",
    "ret": "obj",
    "url": "https://api.stripe.com/v1/customers/{{CUSTOMER_ID}}",
    "tls": "",
    "x": 960,
    "y": 300,
    "wires": [
      []
    ]
  },
  {
    "id": "a069ea0a.5ac578",
    "type": "link in",
    "z": "eb2768bc.26adf8",
    "name": "",
    "links": [
      "77937cb4.f723a4"
    ],
    "x": 95,
    "y": 300,
    "wires": [
      [
        "7c545532.988d3c"
      ]
    ]
  },
  {
    "id": "77937cb4.f723a4",
    "type": "link out",
    "z": "eb2768bc.26adf8",
    "name": "",
    "links": [
      "a069ea0a.5ac578"
    ],
    "x": 1195,
    "y": 120,
    "wires": []
  },
  {
    "id": "563b7d9f.7eeb24",
    "type": "subflow",
    "name": "Product Listing",
    "info": "",
    "in": [
      {
        "x": 43.000000953674316,
        "y": 158.99999618530273,
        "wires": [
          {
            "id": "75b2fac5.1096e4"
          }
        ]
      }
    ],
    "out": [
      {
        "x": 1296.0000228881836,
        "y": 158.99999618530273,
        "wires": [
          {
            "id": "8fa15f54.30775",
            "port": 0
          },
          {
            "id": "c1a9d15a.5ce4f",
            "port": 0
          }
        ]
      }
    ]
  },
  {
    "id": "75b2fac5.1096e4",
    "type": "function",
    "z": "563b7d9f.7eeb24",
    "name": "Set Headers",
    "func": "msg.payload={\n    limit:30\n}\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 187,
    "y": 159,
    "wires": [
      [
        "c20078ac.9ee5a8"
      ]
    ]
  },
  {
    "id": "6dd0b522.3c2eac",
    "type": "function",
    "z": "563b7d9f.7eeb24",
    "name": "Product Cart",
    "func": "var elements = []\n\nfor (var i=0; i<msg.payload.data.length; i++){\n    let element = msg.payload.data[i]\n    if( element.skus.data.length >0)\n         elements.push({\n            \"sku\": element.skus.data[0].id,\n            \"price\": element.skus.data[0].price,\n             \"title\":element.name,\n             \"subtitle\": element.description,\n             \"imageUrl\": element.images[0],\n             \"buttons\": [\n                        {\n                          \"type\": 'action',\n                          \"listen\": \"chat/msg/addToCart\",\n                          \"color\": \"green\",\n                          \"init_color\": \"green\",\n                          \"change_color\": \"red\",\n                          \"change_label\": \"Supprimer du panier\",\n                          \"init_label\": \"Ajouter au panier\",\n                          \"label\": 'Ajouter au panier'\n                        }]\n        })\n        \n}\n\n\nmsg.payload={\n    'type': 'generic-template',\n    'elements': elements\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 670.1428909301758,
    "y": 159.42860889434814,
    "wires": [
      [
        "f00cf09b.bfce9",
        "5de8c3bd.6aa6bc"
      ]
    ]
  },
  {
    "id": "8fa15f54.30775",
    "type": "chatbot-quick-replies",
    "z": "563b7d9f.7eeb24",
    "name": "Main Menu",
    "message": "Que voulez vous faire aprés?",
    "buttons": [
      {
        "type": "postback",
        "label": "consulter mon panier",
        "value": "consulter mon panier",
        "alert": false
      },
      {
        "type": "postback",
        "label": "continuer mes achats",
        "value": "continuer mes achats",
        "alert": false
      }
    ],
    "x": 1109.428451538086,
    "y": 160.00004196166992,
    "wires": [
      []
    ]
  },
  {
    "id": "f00cf09b.bfce9",
    "type": "delay",
    "z": "563b7d9f.7eeb24",
    "name": "Delay 2s",
    "pauseType": "delay",
    "timeout": "2",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "x": 916.4284973144531,
    "y": 158.9999771118164,
    "wires": [
      [
        "8fa15f54.30775"
      ]
    ]
  },
  {
    "id": "c20078ac.9ee5a8",
    "type": "stripe-advanced",
    "z": "563b7d9f.7eeb24",
    "configNode": "",
    "method": "products.list",
    "x": 425.00001525878906,
    "y": 159,
    "wires": [
      [
        "6dd0b522.3c2eac"
      ]
    ]
  },
  {
    "id": "5de8c3bd.6aa6bc",
    "type": "link out",
    "z": "563b7d9f.7eeb24",
    "name": "",
    "links": [
      "c1a9d15a.5ce4f"
    ],
    "x": 798.173770904541,
    "y": 102.22570323944092,
    "wires": []
  },
  {
    "id": "c1a9d15a.5ce4f",
    "type": "link in",
    "z": "563b7d9f.7eeb24",
    "name": "",
    "links": [
      "5de8c3bd.6aa6bc"
    ],
    "x": 1232.1805324554443,
    "y": 102.3055682182312,
    "wires": [
      []
    ]
  },
  {
    "id": "fec0878c.988668",
    "type": "DS Message send",
    "z": "ac047485.1c0948",
    "msApp": "cac487df.d3c3b8",
    "name": "Hanna Out",
    "nextListener": "",
    "nextUri": "",
    "nextAppName": "",
    "x": 1156.511833190918,
    "y": 284.15474128723145,
    "wires": []
  },
  {
    "id": "ff721864.e9bed8",
    "type": "link in",
    "z": "ac047485.1c0948",
    "name": "",
    "links": [
      "57395d41.7d6c14",
      "42fd31c3.fd40b",
      "116249c7.cca0b6",
      "2d557dde.03dc52",
      "ef80abd9.507d08",
      "6d702f5b.f96b4",
      "8c2256a4.d72e68",
      "1ff267a9.abe8e8",
      "be8fed55.2e093",
      "6091c68f.53d6b8",
      "55db9d21.146514",
      "536f7b6a.02fe64",
      "e3b0265f.50da08",
      "7b1b3c2d.e786d4",
      "954418d0.1acdb8"
    ],
    "x": 1018.654842376709,
    "y": 283.58331871032715,
    "wires": [
      [
        "fec0878c.988668"
      ]
    ]
  },
  {
    "id": "57395d41.7d6c14",
    "type": "link out",
    "z": "ac047485.1c0948",
    "name": "",
    "links": [
      "ff721864.e9bed8"
    ],
    "x": 512.7618217468262,
    "y": 841.9047522014007,
    "wires": []
  },
  {
    "id": "5f55ee04.75d59",
    "type": "function",
    "z": "ac047485.1c0948",
    "name": "Stripe Parameters",
    "func": "global.set(\"Authorization\", \"Bearer secret_key\"),\nglobal.set(\"Content-Type\", \"application/x-www-form-urlencoded\")\nglobal.set(\"AuthorizationOwner\", \"Bearer secret_key\")\nglobal.set(\"account\",\"account\")\n\nreturn msg;\n\n// STripe Account: test@tekos.co - pass: TestTekos99,",
    "outputs": 1,
    "noerr": 0,
    "x": 347.7618217468262,
    "y": 212.9047522014007,
    "wires": [
      []
    ]
  },
  {
    "id": "38b29f8.71bbc6",
    "type": "link in",
    "z": "ac047485.1c0948",
    "name": "",
    "links": [
      "6e7c135a.4a021c",
      "dcb708df.d35b78",
      "fda223e8.303e3",
      "de08d0aa.97464"
    ],
    "x": 46.33340644836426,
    "y": 840.000129699707,
    "wires": [
      [
        "54e04c3e.e7edc4"
      ]
    ]
  },
  {
    "id": "643d9e76.d9483",
    "type": "switch",
    "z": "ac047485.1c0948",
    "name": "Swtich",
    "property": "payload.text[0]",
    "propertyType": "msg",
    "rules": [
      {
        "t": "cont",
        "v": "hi",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "afficher les produits",
        "vt": "str"
      },
      {
        "t": "cont",
        "v": "achats",
        "vt": "str"
      },
      {
        "t": "cont",
        "v": "panier",
        "vt": "str"
      },
      {
        "t": "cont",
        "v": "commande",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 5,
    "x": 440.3334197998047,
    "y": 299.00000519212335,
    "wires": [
      [
        "19c2ffa1.400cc"
      ],
      [
        "fda223e8.303e3"
      ],
      [
        "de08d0aa.97464"
      ],
      [
        "4421f4cb.f2cd3c"
      ],
      [
        "2502cf49.73356"
      ]
    ]
  },
  {
    "id": "42fd31c3.fd40b",
    "type": "link out",
    "z": "ac047485.1c0948",
    "name": "",
    "links": [
      "ff721864.e9bed8"
    ],
    "x": 730.0000743865967,
    "y": 587.3333835601807,
    "wires": []
  },
  {
    "id": "70046b17.bef994",
    "type": "link in",
    "z": "ac047485.1c0948",
    "name": "",
    "links": [
      "4d656795.235f28",
      "b377c292.967fe",
      "19c2ffa1.400cc"
    ],
    "x": 42.33340644836426,
    "y": 621.6667074626312,
    "wires": [
      [
        "f9b5da96.73a648"
      ]
    ]
  },
  {
    "id": "f9b5da96.73a648",
    "type": "chatbot-message",
    "z": "ac047485.1c0948",
    "name": "Welcome",
    "message": [
      {
        "message": "Bonjour je suis HannaBot :)"
      }
    ],
    "x": 156.3333969116211,
    "y": 620.6667074626312,
    "wires": [
      [
        "116249c7.cca0b6",
        "4972aae9.ed1b14"
      ]
    ]
  },
  {
    "id": "4c24ca85.ca2484",
    "type": "chatbot-message",
    "z": "ac047485.1c0948",
    "name": "I'm Available",
    "message": [
      {
        "message": "je suis à votre disposition pour mieux faire votre shopping ;)"
      }
    ],
    "x": 610.3333969116211,
    "y": 620.6666807597503,
    "wires": [
      [
        "42fd31c3.fd40b",
        "63ae65a2.0b127c"
      ]
    ]
  },
  {
    "id": "116249c7.cca0b6",
    "type": "link out",
    "z": "ac047485.1c0948",
    "name": "",
    "links": [
      "ff721864.e9bed8"
    ],
    "x": 271.66676235198975,
    "y": 586.6667122310027,
    "wires": []
  },
  {
    "id": "4972aae9.ed1b14",
    "type": "delay",
    "z": "ac047485.1c0948",
    "name": "Delay 2s",
    "pauseType": "delay",
    "timeout": "2",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "x": 356.3334159851074,
    "y": 620.6667074626312,
    "wires": [
      [
        "4c24ca85.ca2484"
      ]
    ]
  },
  {
    "id": "63ae65a2.0b127c",
    "type": "delay",
    "z": "ac047485.1c0948",
    "name": "Delay 1s",
    "pauseType": "delay",
    "timeout": "1",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "x": 816.3333892822266,
    "y": 621.6667141383514,
    "wires": [
      [
        "c823c690.47b398"
      ]
    ]
  },
  {
    "id": "2d557dde.03dc52",
    "type": "link out",
    "z": "ac047485.1c0948",
    "name": "",
    "links": [
      "ff721864.e9bed8"
    ],
    "x": 1212.3334102630615,
    "y": 621.6667041778564,
    "wires": []
  },
  {
    "id": "19c2ffa1.400cc",
    "type": "link out",
    "z": "ac047485.1c0948",
    "name": "",
    "links": [
      "70046b17.bef994"
    ],
    "x": 629.3333969116211,
    "y": 212.99999947007746,
    "wires": []
  },
  {
    "id": "fda223e8.303e3",
    "type": "link out",
    "z": "ac047485.1c0948",
    "name": "",
    "links": [
      "38b29f8.71bbc6"
    ],
    "x": 633.3333969116211,
    "y": 258.0000080531463,
    "wires": []
  },
  {
    "id": "66ea2703.791678",
    "type": "function",
    "z": "ac047485.1c0948",
    "name": "Cart Details",
    "func": "if (global.get(\"items\")){\n\nvar product=JSON.parse(global.get(\"items\"));\nvar elements = [];   \n    \n\n        for (var i = 0; i < product.length; i++) {\n            \n            \n        \n                   elements.push( {   \n                                      \"sku\":product[i].items[0].parent,\n                                      \"title\": product[i].title,\n                                      /*\"subtitle\":product[i].items[0].parent,*/\n                                      \"quantity\":1,\n                                      \"price\": product[i].price/100,\n                                      \"currency\": product[i].currency,\n                                      \"image_url\":product[i].imageUrl\n                                    \n                                      \n                                    })\n                                    \n        }\nmsg.payload =  {\n        \"type\":\"receipt\",\n        \"recipient_name\": \"Stripe\" ,\n        \"currency\":\"€\",\n        \"payment_method\":\"Check / Money order\",        \n        \"address\":{\n        \"street_1\": \"Pas encore ajouté\",\n        },\n        \"summary\":{\n        \"subtotal\": 200,\n        \"shipping_cost\": 12,\n        \"total_tax\": 38,\n        \"total_cost\": 250\n        },\n        \"adjustments\":[\n        {\n        \"name\": \"Correction\",\n        \"amount\": 15\n        },\n        \n        ],\n        \"elements\":elements,\n        \"actions\": {\n        \"listen\": \"chat/message/common\",\n        \"submit\": \"valider ma commande\",\n        \"delete\": \"chat/msg/supProd\",\n        },\n} \n}\nelse {\n    msg.payload =  {\n        type : \"message\",\n        content : \"Votre panier est vide !\"\n    }\n    \n}\n    \n\nreturn msg;\n",
    "outputs": 1,
    "noerr": 0,
    "x": 204.3335189819336,
    "y": 1026.3335494995117,
    "wires": [
      [
        "6d702f5b.f96b4",
        "aae3bfe5.8209"
      ]
    ]
  },
  {
    "id": "4421f4cb.f2cd3c",
    "type": "link out",
    "z": "ac047485.1c0948",
    "name": "",
    "links": [
      "d9b52b07.2a5558"
    ],
    "x": 631.3333969116211,
    "y": 335.9999956553802,
    "wires": []
  },
  {
    "id": "de08d0aa.97464",
    "type": "link out",
    "z": "ac047485.1c0948",
    "name": "",
    "links": [
      "38b29f8.71bbc6"
    ],
    "x": 632.3333969116211,
    "y": 301.0000090068206,
    "wires": []
  },
  {
    "id": "6d702f5b.f96b4",
    "type": "link out",
    "z": "ac047485.1c0948",
    "name": "",
    "links": [
      "ff721864.e9bed8"
    ],
    "x": 331.7619695663452,
    "y": 980.9049711227417,
    "wires": []
  },
  {
    "id": "9d461cef.efbea",
    "type": "function",
    "z": "ac047485.1c0948",
    "name": "Stripe Checkout",
    "func": "msg.payload = {\n    type: \"stripe-pay\",\n    form: {\n        action: \"chat/message/pay\",\n        image: \"https://stripe.com/img/v3/home/twitter.png\",\n        name: \"Show Order Items\",\n        description: \"Compléter vos achats\",\n        amount: global.get('amount'),\n        locale: \"auto\",\n        currency: \"EUR\"\n    }\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 435.33343505859375,
    "y": 1297.5000286102295,
    "wires": [
      [
        "8c2256a4.d72e68"
      ]
    ]
  },
  {
    "id": "8c2256a4.d72e68",
    "type": "link out",
    "z": "ac047485.1c0948",
    "name": "",
    "links": [
      "ff721864.e9bed8"
    ],
    "x": 643.3334197998047,
    "y": 1297.500022358261,
    "wires": []
  },
  {
    "id": "fe33a583.4d38e8",
    "type": "link in",
    "z": "ac047485.1c0948",
    "name": "",
    "links": [
      "2502cf49.73356"
    ],
    "x": 63.33341979980469,
    "y": 1297.500022358261,
    "wires": [
      [
        "d13b4eff.0fd23",
        "89508846.35c488"
      ]
    ]
  },
  {
    "id": "d9b52b07.2a5558",
    "type": "link in",
    "z": "ac047485.1c0948",
    "name": "",
    "links": [
      "4421f4cb.f2cd3c"
    ],
    "x": 54.33351135253906,
    "y": 1026.3334941864014,
    "wires": [
      [
        "66ea2703.791678"
      ]
    ]
  },
  {
    "id": "2502cf49.73356",
    "type": "link out",
    "z": "ac047485.1c0948",
    "name": "",
    "links": [
      "fe33a583.4d38e8"
    ],
    "x": 630.0000619888306,
    "y": 382.6666464274749,
    "wires": []
  },
  {
    "id": "d13b4eff.0fd23",
    "type": "delay",
    "z": "ac047485.1c0948",
    "name": "wait 1 sec",
    "pauseType": "delay",
    "timeout": "2",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "x": 200.00008392333984,
    "y": 1297.4999803965911,
    "wires": [
      [
        "9d461cef.efbea"
      ]
    ]
  },
  {
    "id": "89508846.35c488",
    "type": "chatbot-message",
    "z": "ac047485.1c0948",
    "name": "Order in progress",
    "message": [
      {
        "message": "Votre commande est en cours de traitement ..."
      }
    ],
    "x": 216.3334197998047,
    "y": 1207.1665782928467,
    "wires": [
      [
        "6091c68f.53d6b8"
      ]
    ]
  },
  {
    "id": "6091c68f.53d6b8",
    "type": "link out",
    "z": "ac047485.1c0948",
    "name": "",
    "links": [
      "ff721864.e9bed8"
    ],
    "x": 394.33344078063965,
    "y": 1206.5000476837158,
    "wires": []
  },
  {
    "id": "18262381.0ee2ec",
    "type": "comment",
    "z": "ac047485.1c0948",
    "name": "Rooter Depending On User Input",
    "info": "msg.hearders = {\n    \"Authorization\": \"Bearer secret_key\",\n    \"Content-Type\": \"application/x-www-form-urlencoded\"\n}",
    "x": 213.00010681152344,
    "y": 137.7500295639038,
    "wires": []
  },
  {
    "id": "3072db35.5cb174",
    "type": "comment",
    "z": "ac047485.1c0948",
    "name": "------------------------- Welcome Message & Main Menu -------------------------",
    "info": "",
    "x": 408,
    "y": 526.6666584014893,
    "wires": []
  },
  {
    "id": "20eb6a2d.19c156",
    "type": "comment",
    "z": "ac047485.1c0948",
    "name": "------------------------- Product Listing -------------------------",
    "info": "The displayed products are without sorting\n\nQuick Replies : Continue shopping or view cart",
    "x": 358.3334045410156,
    "y": 729.3334541320801,
    "wires": []
  },
  {
    "id": "9f2e12a0.46695",
    "type": "comment",
    "z": "ac047485.1c0948",
    "name": "------------------------- Shopping Cart -------------------------",
    "info": "The products in the basket are stored in flow.set(\"items\")",
    "x": 350.66674041748047,
    "y": 919.666615486145,
    "wires": []
  },
  {
    "id": "2c06148c.7a68ac",
    "type": "comment",
    "z": "ac047485.1c0948",
    "name": "------------------------- Stripe Component for payment -------------------------",
    "info": "",
    "x": 413.3333740234375,
    "y": 1133.4998559951782,
    "wires": []
  },
  {
    "id": "26cfa708.475728",
    "type": "DS Message receive",
    "z": "ac047485.1c0948",
    "name": "Hanna In",
    "msApp": "cac487df.d3c3b8",
    "method": "chat/message",
    "x": 117.33340454101562,
    "y": 300.00004524644464,
    "wires": [
      [
        "643d9e76.d9483",
        "5f55ee04.75d59"
      ]
    ]
  },
  {
    "id": "15638f44.ddb721",
    "type": "comment",
    "z": "ac047485.1c0948",
    "name": "------------------------- Payments & Fees -------------------------",
    "info": "Verification of the inputs:\n- If the customer is already registered => we update the source\n(with the newly generated token) and we pass the charges and the order\n\n- The customer is not already => we create a new customer with the \nemail address entered and we give him the new source then we pass the charges and the order",
    "x": 353.8691062927246,
    "y": 1412.5121579170227,
    "wires": []
  },
  {
    "id": "54e04c3e.e7edc4",
    "type": "subflow:563b7d9f.7eeb24",
    "z": "ac047485.1c0948",
    "name": "",
    "x": 267.3334045410156,
    "y": 840.0000452464446,
    "wires": [
      [
        "57395d41.7d6c14"
      ]
    ]
  },
  {
    "id": "323a4665.0e6d8a",
    "type": "DS Message receive",
    "z": "ac047485.1c0948",
    "name": "Pay",
    "msApp": "cac487df.d3c3b8",
    "method": "chat/message/pay",
    "x": 91.58338165283203,
    "y": 1521.7503066062927,
    "wires": [
      [
        "1422a65b.13b33a"
      ]
    ]
  },
  {
    "id": "1422a65b.13b33a",
    "type": "function",
    "z": "ac047485.1c0948",
    "name": "recuperer email et source",
    "func": "global.set(\"email\", msg.payload.email)\nglobal.set(\"source\", msg.payload.id)\nglobal.set(\"card\", msg.payload.card.id)\n\n\nmsg.headers = {\n    \"Authorization\": global.get(\"Authorization\"),\n    \"Content-Type\": global.get(\"Content-Type\")\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 335.0119400024414,
    "y": 1521.7502999305725,
    "wires": [
      [
        "8096f4ca.b27718"
      ]
    ]
  },
  {
    "id": "8096f4ca.b27718",
    "type": "http request",
    "z": "ac047485.1c0948",
    "name": "get.customers(Pro)",
    "method": "GET",
    "ret": "obj",
    "url": "https://api.stripe.com/v1/customers",
    "tls": "",
    "x": 649.2976760864258,
    "y": 1521.607530117035,
    "wires": [
      [
        "68a9821a.d0722c"
      ]
    ]
  },
  {
    "id": "68a9821a.d0722c",
    "type": "function",
    "z": "ac047485.1c0948",
    "name": "compare email",
    "func": "if( msg.payload.data.length === 0){\n    msg.found = false\n} else\n\n    for(var i=0; i< msg.payload.data.length; i++){\n        let element= msg.payload.data[i]\n        if(element.email === global.get(\"email\") ){\n            msg.found = true\n            global.set(\"customer\",element.id)\n            break;\n        }else\n            msg.found = false\n    }\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 939.2976188659668,
    "y": 1521.3217463493347,
    "wires": [
      [
        "4025a3b4.b054ec"
      ]
    ]
  },
  {
    "id": "4025a3b4.b054ec",
    "type": "switch",
    "z": "ac047485.1c0948",
    "name": "",
    "property": "found",
    "propertyType": "msg",
    "rules": [
      {
        "t": "true"
      },
      {
        "t": "false"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 1129.2976188659668,
    "y": 1521.3217463493347,
    "wires": [
      [
        "1a420fe.3bbd3f"
      ],
      [
        "7582fda7.cdd994"
      ]
    ]
  },
  {
    "id": "1a420fe.3bbd3f",
    "type": "link out",
    "z": "ac047485.1c0948",
    "name": "",
    "links": [
      "3b542751.cc1b28"
    ],
    "x": 1276.583381652832,
    "y": 1481.7503066062927,
    "wires": []
  },
  {
    "id": "7582fda7.cdd994",
    "type": "link out",
    "z": "ac047485.1c0948",
    "name": "",
    "links": [
      "478648fb.8326d8"
    ],
    "x": 1276.583381652832,
    "y": 1561.7503066062927,
    "wires": []
  },
  {
    "id": "736f9609.4326a8",
    "type": "comment",
    "z": "ac047485.1c0948",
    "name": "---------- Vérification du customer ----------",
    "info": "The verification is done with the comparison of the email address entered with the email addresses of customers recovered from the stripe",
    "x": 1310.4404563903809,
    "y": 1409.7504181861877,
    "wires": []
  },
  {
    "id": "3b542751.cc1b28",
    "type": "link in",
    "z": "ac047485.1c0948",
    "name": "",
    "links": [
      "1a420fe.3bbd3f"
    ],
    "x": 1502.5833549499512,
    "y": 1481.7502150535583,
    "wires": [
      [
        "9326ffa.780be"
      ]
    ]
  },
  {
    "id": "478648fb.8326d8",
    "type": "link in",
    "z": "ac047485.1c0948",
    "name": "",
    "links": [
      "7582fda7.cdd994"
    ],
    "x": 1502.5833549499512,
    "y": 1561.7502150535583,
    "wires": [
      [
        "1f98278c.0f8518"
      ]
    ]
  },
  {
    "id": "9326ffa.780be",
    "type": "subflow:eb2768bc.26adf8",
    "z": "ac047485.1c0948",
    "name": "",
    "x": 1667.5833549499512,
    "y": 1481.7502150535583,
    "wires": [
      [
        "c0fb889e.54fc28"
      ]
    ]
  },
  {
    "id": "1f98278c.0f8518",
    "type": "subflow:aece97f8.c022a8",
    "z": "ac047485.1c0948",
    "name": "",
    "x": 1667.5833549499512,
    "y": 1561.7502150535583,
    "wires": [
      [
        "1a296828.f13ce8"
      ]
    ]
  },
  {
    "id": "c0fb889e.54fc28",
    "type": "link out",
    "z": "ac047485.1c0948",
    "name": "",
    "links": [
      "c3e55eb7.c0c1b"
    ],
    "x": 1862.5833549499512,
    "y": 1481.7502150535583,
    "wires": []
  },
  {
    "id": "c3e55eb7.c0c1b",
    "type": "link in",
    "z": "ac047485.1c0948",
    "name": "",
    "links": [
      "c0fb889e.54fc28",
      "1a296828.f13ce8"
    ],
    "x": 63.58340835571289,
    "y": 1689.7502236366272,
    "wires": [
      [
        "44543785.8a8378"
      ]
    ]
  },
  {
    "id": "44543785.8a8378",
    "type": "subflow:63e1a4a6.cefcfc",
    "z": "ac047485.1c0948",
    "name": "",
    "x": 248.5834083557129,
    "y": 1689.7502236366272,
    "wires": [
      [
        "e3b0265f.50da08"
      ]
    ]
  },
  {
    "id": "1a296828.f13ce8",
    "type": "link out",
    "z": "ac047485.1c0948",
    "name": "",
    "links": [
      "c3e55eb7.c0c1b"
    ],
    "x": 1862.5833549499512,
    "y": 1561.7502150535583,
    "wires": []
  },
  {
    "id": "e3b0265f.50da08",
    "type": "link out",
    "z": "ac047485.1c0948",
    "name": "",
    "links": [
      "ff721864.e9bed8"
    ],
    "x": 483.5834083557129,
    "y": 1689.7502236366272,
    "wires": []
  },
  {
    "id": "c823c690.47b398",
    "type": "chatbot-quick-replies",
    "z": "ac047485.1c0948",
    "name": "",
    "message": "Que voulez-vous faire ?",
    "buttons": [
      {
        "type": "postback",
        "label": "afficher les produits",
        "value": "afficher les produits",
        "alert": false
      },
      {
        "type": "postback",
        "label": "consulter mon panier",
        "value": "consulter mon panier",
        "alert": false
      }
    ],
    "x": 1047.3334045410156,
    "y": 622.0000452464446,
    "wires": [
      [
        "2d557dde.03dc52"
      ]
    ]
  },
  {
    "id": "bd7c2f19.8b95e",
    "type": "chatbot-quick-replies",
    "z": "ac047485.1c0948",
    "name": "",
    "message": "Que voulez-vous faire ?",
    "buttons": [
      {
        "type": "postback",
        "label": "continuer mes achats",
        "value": "continuer mes achats",
        "alert": false
      }
    ],
    "x": 621.7619857788086,
    "y": 1025.9049053192139,
    "wires": [
      [
        "954418d0.1acdb8"
      ]
    ]
  },
  {
    "id": "954418d0.1acdb8",
    "type": "link out",
    "z": "ac047485.1c0948",
    "name": "",
    "links": [
      "ff721864.e9bed8"
    ],
    "x": 750.7619972229004,
    "y": 1026.9049034118652,
    "wires": []
  },
  {
    "id": "aae3bfe5.8209",
    "type": "delay",
    "z": "ac047485.1c0948",
    "name": "Delay 2s",
    "pauseType": "delay",
    "timeout": "2",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "x": 409.7619285583496,
    "y": 1025.9049739837646,
    "wires": [
      [
        "bd7c2f19.8b95e"
      ]
    ]
  },
  {
    "id": "cac487df.d3c3b8",
    "type": "hanna-app",
    "z": "",
    "appName": "go",
    "uri": "edugame",
    "socket": "chat/message",
    "image": "https://s3.eu-central-1.amazonaws.com/tekosdata/assets/images/bot_tekos.png",
    "startMessage": "start",
    "name": "go"
  }
]