data/lib/flows/Channels/Slack.json
[
  {
    "id": "7471be68.4f9a4",
    "type": "comment",
    "z": "3d7b843.2fea37c",
    "name": "Sending Messages To Slack Channel",
    "info": "",
    "x": 718.0106048583984,
    "y": 145.00004196166992,
    "wires": []
  },
  {
    "id": "e723879d.aa4858",
    "type": "comment",
    "z": "3d7b843.2fea37c",
    "name": "Sent With Incoming Webhook",
    "info": "",
    "x": 407.0104522705078,
    "y": 255.00001907348633,
    "wires": []
  },
  {
    "id": "d99914c9.df7398",
    "type": "http request",
    "z": "3d7b843.2fea37c",
    "name": "",
    "method": "GET",
    "ret": "obj",
    "url": "https://slack.com/api/chat.postMessage?token=Token&channel=%23webhooktest&text=hiiiiiii&pretty=1",
    "tls": "",
    "x": 1101.0103912353516,
    "y": 308.99999809265137,
    "wires": [
      []
    ]
  },
  {
    "id": "baa31057.a71b4",
    "type": "comment",
    "z": "3d7b843.2fea37c",
    "name": "Sent With Chat.post",
    "info": "",
    "x": 1010.010383605957,
    "y": 259.0000247955322,
    "wires": []
  },
  {
    "id": "f2dd27e8.d4cb48",
    "type": "inject",
    "z": "3d7b843.2fea37c",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 326.01043701171875,
    "y": 310.000007099472,
    "wires": [
      [
        "2893d215.acf8ae"
      ]
    ]
  },
  {
    "id": "5866e23b.8cb0ec",
    "type": "inject",
    "z": "3d7b843.2fea37c",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 891.0103912353516,
    "y": 308.99999809265137,
    "wires": [
      [
        "d99914c9.df7398"
      ]
    ]
  },
  {
    "id": "2893d215.acf8ae",
    "type": "tekos-slack out",
    "z": "3d7b843.2fea37c",
    "name": "",
    "apiToken": "Token_Bot",
    "channel": "",
    "x": 492.50704193115234,
    "y": 310.88887453079224,
    "wires": []
  }
]