data/lib/flows/Data/MongoDB.json
[
  {
    "id": "515684b4.af60cc",
    "type": "tekos-mongodb3-in",
    "z": "da6dbc89.d6709",
    "service": "_ext_",
    "configNode": "5dac8391.f3b4fc",
    "name": "Create Record",
    "collection": "test",
    "operation": "createIndex",
    "x": 705.5176086425781,
    "y": 218.64590454101562,
    "wires": [
      [
        "d98135a.c4651c8"
      ]
    ]
  },
  {
    "id": "6c8e1b10.249ef4",
    "type": "function",
    "z": "da6dbc89.d6709",
    "name": "Get Data",
    "func": "msg.payload={\n    \"username\" : \"Jhon\",\n    \"email\" : \"jhon@gmail.com\"\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 493.5208435058594,
    "y": 218.74654388427734,
    "wires": [
      [
        "515684b4.af60cc"
      ]
    ]
  },
  {
    "id": "2ecdc70e.4365c8",
    "type": "DS Message receive",
    "z": "da6dbc89.d6709",
    "name": "",
    "method": "chat/message",
    "x": 266.51387786865234,
    "y": 218.86810684204102,
    "wires": [
      [
        "6c8e1b10.249ef4"
      ]
    ]
  },
  {
    "id": "d98135a.c4651c8",
    "type": "debug",
    "z": "da6dbc89.d6709",
    "name": "Result",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "x": 946.5209045410156,
    "y": 218.72571563720703,
    "wires": []
  },
  {
    "id": "9c8cf35e.2fcfd",
    "type": "comment",
    "z": "da6dbc89.d6709",
    "name": "Create Record",
    "info": "",
    "x": 580.5104598999023,
    "y": 137.75347805023193,
    "wires": []
  },
  {
    "id": "c852374f.1c6138",
    "type": "tekos-mongodb3-in",
    "z": "da6dbc89.d6709",
    "service": "_ext_",
    "configNode": "5dac8391.f3b4fc",
    "name": "Get Record",
    "collection": "test",
    "operation": "find.forEach",
    "x": 603.0106239318848,
    "y": 409.0104351043701,
    "wires": [
      [
        "955defca.b17b4"
      ]
    ]
  },
  {
    "id": "6dea2e37.f8afb",
    "type": "DS Message receive",
    "z": "da6dbc89.d6709",
    "name": "",
    "method": "chat/message",
    "x": 347.00676345825195,
    "y": 409.232629776001,
    "wires": [
      [
        "c852374f.1c6138"
      ]
    ]
  },
  {
    "id": "955defca.b17b4",
    "type": "debug",
    "z": "da6dbc89.d6709",
    "name": "Result",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "x": 804.0139770507812,
    "y": 408.0902214050293,
    "wires": []
  },
  {
    "id": "19b6a490.84ac8b",
    "type": "comment",
    "z": "da6dbc89.d6709",
    "name": "Get Record",
    "info": "",
    "x": 611.0104942321777,
    "y": 344.0104274749756,
    "wires": []
  },
  {
    "id": "5dac8391.f3b4fc",
    "type": "tekos-mongodb3",
    "z": "",
    "uri": "mongodb://host1.yourprovider.com:27017",
    "name": "",
    "options": "",
    "parallelism": "-1"
  }
]