data/lib/flows/Data/TekosCMS.json
[
  {
    "id": "cd2cc8a7.cd67d8",
    "type": "function",
    "z": "9f5f0bac.bcbde8",
    "name": "Get Data & Headers",
    "func": "msg.headers = {\n    \"Authorization\" : \"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJfaWQiOiI1YmZkNjAzMzU2ZGE2ZjAwMThkMWQ4MzUiLCJpYXQiOjE1NDMzNDE5MTAsImV4cCI6MTU0NTkzMzkxMH0.GSTCJBvw5Iznnq86dBDhljNDTE-6rL_iTlJYfONItFQ\",\n    \"Content-Type\": \"application/json\"\n}\nmsg.payload = {\n    \"name\": msg.payload.name,\n    \"email\":msg.payload.email,\n    \"phone number\":msg.payload.phone,\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 530,
    "y": 240,
    "wires": [
      [
        "2913cec6.f8bd02"
      ]
    ]
  },
  {
    "id": "92b3bd8e.14637",
    "type": "link in",
    "z": "9f5f0bac.bcbde8",
    "name": "",
    "links": [
      "15699908.f5ab57"
    ],
    "x": 375,
    "y": 240,
    "wires": [
      [
        "cd2cc8a7.cd67d8"
      ]
    ]
  },
  {
    "id": "f7b84d54.7c7d3",
    "type": "debug",
    "z": "9f5f0bac.bcbde8",
    "name": "debug",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "x": 992.000129699707,
    "y": 240.99999809265137,
    "wires": []
  },
  {
    "id": "cbedd0cf.e54fc",
    "type": "comment",
    "z": "9f5f0bac.bcbde8",
    "name": "Create Record With Auth",
    "info": "Wire the flow to your main flow\n",
    "x": 709.9895629882812,
    "y": 137.99999332427979,
    "wires": []
  },
  {
    "id": "2913cec6.f8bd02",
    "type": "Headless CMS",
    "z": "9f5f0bac.bcbde8",
    "name": "",
    "headlessApp": "23e71072.cd97a",
    "model": "test",
    "uidStrapi": "",
    "method": "create",
    "x": 786.5000305175781,
    "y": 240.795147895813,
    "wires": [
      [
        "f7b84d54.7c7d3"
      ]
    ]
  },
  {
    "id": "9538f460.f53df8",
    "type": "function",
    "z": "9f5f0bac.bcbde8",
    "name": "Get Data & Headers",
    "func": "msg.headers = {\n    \"Content-Type\": \"application/json\"\n}\nmsg.payload = {\n    \"name\": msg.payload.name,\n    \"email\":msg.payload.email,\n    \"phone number\":msg.payload.phone,\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 529.9999694824219,
    "y": 392.0103998184204,
    "wires": [
      [
        "3fbf0084.718f3"
      ]
    ]
  },
  {
    "id": "3e02d7bc.3f7438",
    "type": "link in",
    "z": "9f5f0bac.bcbde8",
    "name": "",
    "links": [
      "15699908.f5ab57"
    ],
    "x": 374.9999694824219,
    "y": 392.0103998184204,
    "wires": [
      [
        "9538f460.f53df8"
      ]
    ]
  },
  {
    "id": "5e651c88.20a7f4",
    "type": "debug",
    "z": "9f5f0bac.bcbde8",
    "name": "debug",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "x": 992.0000991821289,
    "y": 393.0103979110718,
    "wires": []
  },
  {
    "id": "3fbf0084.718f3",
    "type": "Headless CMS",
    "z": "9f5f0bac.bcbde8",
    "name": "",
    "headlessApp": "23e71072.cd97a",
    "model": "test",
    "uidStrapi": "",
    "method": "create",
    "x": 786.5,
    "y": 392.8055477142334,
    "wires": [
      [
        "5e651c88.20a7f4"
      ]
    ]
  },
  {
    "id": "78db192c.1346c8",
    "type": "comment",
    "z": "9f5f0bac.bcbde8",
    "name": "Create Record Without Auth",
    "info": "Wire the flow to your main flow\n",
    "x": 699.9895629882812,
    "y": 317.9999933242798,
    "wires": []
  },
  {
    "id": "644ba06.72fca6",
    "type": "function",
    "z": "9f5f0bac.bcbde8",
    "name": "Headers",
    "func": "msg.headers = {\n    \"Authorization\" : \"Bearer Token\",\n    \"Content-Type\": \"application/json\"\n}\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 520,
    "y": 520,
    "wires": [
      [
        "ed40520b.dfbc3"
      ]
    ]
  },
  {
    "id": "72fbd289.a800cc",
    "type": "link in",
    "z": "9f5f0bac.bcbde8",
    "name": "",
    "links": [
      "15699908.f5ab57"
    ],
    "x": 375,
    "y": 520,
    "wires": [
      [
        "644ba06.72fca6"
      ]
    ]
  },
  {
    "id": "5c6da07f.86d53",
    "type": "debug",
    "z": "9f5f0bac.bcbde8",
    "name": "debug",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "x": 991.9896926879883,
    "y": 518.9999914169312,
    "wires": []
  },
  {
    "id": "ed40520b.dfbc3",
    "type": "Headless CMS",
    "z": "9f5f0bac.bcbde8",
    "name": "",
    "headlessApp": "23e71072.cd97a",
    "model": "test",
    "uidStrapi": "",
    "method": "find",
    "x": 770,
    "y": 520,
    "wires": [
      [
        "5c6da07f.86d53"
      ]
    ]
  },
  {
    "id": "928b6c8f.e7f66",
    "type": "comment",
    "z": "9f5f0bac.bcbde8",
    "name": "Get Record",
    "info": "Wire the flow to your main flow\n",
    "x": 689.9895629882812,
    "y": 457.9999933242798,
    "wires": []
  },
  {
    "id": "23e71072.cd97a",
    "type": "headless-app",
    "z": "",
    "username_strapi": "username",
    "password_strapi": "password",
    "server_strapi": "https://cms.co",
    "name": ""
  }
]